<!--{template header}-->

<div id="main-content">

<!--{template space_admin_sidebar}-->


<div id="content-body">
   <div id="toolbar">

</div>
   <div id="error">
</div>
   <div id="navigator">

    <div class="content">
        当前位置：
        
            
              <a href="space.php?do=admin_insurance_product">  保险产品 </a>
			  <label class="separator">&gt;</label>
			 <a>  责任 </a>
			   修改
          	<label class="separator">&gt;</label>
            <a href="space.php?do=admin_insurance_product&product_id=$product[product_id]">$product[product_name]</a>  
      </div>

</div>
                                <div id="main-body">

<script type="text/javascript">

    function onDeleteAttachment(parentId, id, uploadFileId) {
        deleteAttachment('/uploadFileAction.do?method=delete&time=1400741141051', parentId, id, uploadFileId);
    }

</script>



<form name="insuranceKindForm" method="POST" action="cp.php?ac=admin_insurance_product_duty&product_id=$product_id&product_duty_id=$product_duty[product_duty_id]">


<input type="hidden" name="product_duty_submit" id="product_duty_submit" value="true" />
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />

<table class="editable-table">
    <tbody><tr>
        
	
		<td colspan="4" class="editable-header">基本信息</td>
		
    </tr>
    <tr>
        <td class="requiredField">保险责任：</td>
        <td class="tdEditArea">
            <input type="hidden" name="insurer_id" id="insurer_id" value="$product[insurer_id]"/>
			
            <input name="duty_name" id="duty_name" value="$product_duty[duty_name]" class="ref" type="text">
			 <span>（*）</span>
            <input type="hidden" name="duty_id" id="duty_id" value="$product_duty[duty_id]"/>
			
			
			<ul id="duty_name_list" style="display:none;">
			
			</ul>
			
			            
        </td>
		
	   </tr>
	   
	   	<tr>
		
		<td class="tdTitle">责任代码：</td>
        <td class="tdEditArea">
           
            <input name="duty_code" id="duty_code" value="$product_duty[duty_code]" type="text">
            
	    </td>
		
		
        </tr>
		 
	   <tr>
		
		<td class="tdTitle">保险金额：</td>
        <td class="tdEditArea">
           
            <input name="amount" value="$product_duty[amount]" type="text">
         
	    </td>
		
		
        </tr>
		
		

	
    <tr>
		
        <td class="tdTitle">保障范围描述：</td>
        <td class="tdEditArea">
				
		<textarea name="duty_note" class="editor">$product_duty[duty_note]</textarea>
		
		</td>
		
    </tr>
  
    </tbody></table>
    
    <table class="buttonArea">
        <tbody><tr>
            <td class="promptText">
                请注意：红色标题所指示的数据项必须填写或选择。
            </td>
            <td class="buttons">
                <input value="保存" class="webButton" type="submit">
                <input value="清除" class="webButton" type="reset">
            </td>
        </tr>
    </tbody></table>
    
</form>

</div>
                            </div>

</div> <!--id="main-content"-->
 
 <!--{template footer}-->