        <div class="f-mt40 f-cb f-fs2 s-c-666666" {if $product.insurer_code=='SSBQ'} style="display:none" {/if}>
        	<div class="f-fl g-w500 f-tar f-mt20">
            	<input type="radio" name="radiobutton" id="radiobutton_yes" value="yes" title="我同意"> 我同意以上保险条款
            </div>
            <div class="f-fr g-w500 f-tal">
            	保费总计： ¥ <span class="f-fs10 s-c-ec6941 f-fsi f-fwb" id="showprice">$prodcutMarkPrice</span> 元
            </div>
        </div>
        
        <div class="f-mt40 f-cb f-pb40" align="center">
        	<button  type="submit" class="btn-ec6941-3">
                <span class="f-cb f-db">
                    <span class="f-fl f-ml30 f-fwb" >下一步</span>
                    <span class="f-fr f-mr10"><i class="iconfont f-fs8">&#xf02af;</i></span>
                </span>
            </button> 
        
        </div>
		</form>