<!--{template header_cshop}-->
<div id="simple_wrapper">
    <div id="contain">
        <div class="insure">
            <div class="insure_main">
                
                <div class="insure_cen">
                	<iframe src="http://219.143.230.175:7002/Partner/patnerDispaterAction.action?citySelected=110100&cooperator=W03210001&tbsn=TR3268677163736,BU3268678163736&buyerNick=uname&buyerId=uid&auctionId=pid&auctionTitle=title&promotionInfo=8" width="715px" frameborder="0" scrolling="no" border="0" name="my_iframe" height="800px" id="my_iframe"></iframe>
                </div>
            </div>
                    
        </div>
    </div>
</div>
<!--{template footer_cshop}-->								