<!--{template header_cshop}-->
<!--{template cp_product_buy_view_header}-->

<!--{if $bat_post_policy == 0}-->
<div class="x_p_a_c c"><h2>投保人信息</h2></div>
<!--保险计划-->
<!--投保人信息-->
<table width="785" cellpadding="0" cellspacing="1" style="padding:15px 0">
    <tbody>
    <tr>
        <td width="150" class="check_td_left">投保人姓名：</td>
        <td width="190" class="check_td_right">{$user_info_applicant[fullname]}</td>
        <td width="150" class="check_td_left">英文名：</td>
        <td width="190" class="check_td_right">$user_info_applicant[fullname_english]</td>
    </tr>
    <tr>
        <td width="150" class="check_td_left">证件类型：</td>
        <td width="190" class="check_td_right">$user_info_applicant[certificates_type_str]</td>
        <td width="150" class="check_td_left">证件号：</td>
        <td width="190" class="check_td_right">$user_info_applicant[certificates_code]</td>
    </tr>
    <tr>
        <td width="150" class="check_td_left">性别：</td>
        <td width="190" class="check_td_right">$user_info_applicant[gender_str]</td>
        <td width="150" class="check_td_left">出生日期：</td>
        <td width="190" class="check_td_right">$user_info_applicant[birthday]</td>
    </tr>
    <tr>
        <td width="150" class="check_td_left">手机号：</td>
        <td width="190" class="check_td_right">$user_info_applicant[mobiletelephone]</td>
        <td width="150" class="check_td_left">电子邮箱：</td>
        <td width="190" class="check_td_right">$user_info_applicant[email]</td>
    </tr>
    <tr>
        <td width="150" class="check_td_left">通讯地址：</td>
        <td width="190" class="check_td_right">$user_info_applicant[address]</td>
        <td width="150" class="check_td_left">邮政编码：</td>
        <td width="190" class="check_td_right">$user_info_applicant[zipcode]</td>
    </tr>
  
    </tbody>
</table>
<div class="x_p_a_c c"><h2>被保人信息</h2></div>

<table width="785" cellpadding="0" cellspacing="1" style="padding:15px 0">
    <tbody>
    <tr>
    
        <td width="150" class="check_td_left">被保人是投保人：</td>
        <td width="190" class="check_td_right">$relationship_with_insured_str</td>
        <td width="150" class="check_td_left">被保人姓名：</td>
        <td width="190" class="check_td_right">$insurant_info[fullname]</td>
    </tr>

    <tr>
        <td width="150" class="check_td_left">证件类型：</td>
        <td width="190" class="check_td_right">$insurant_info[certificates_type_str]</td>
        <td width="150" class="check_td_left">证件号：</td>
        <td width="190" class="check_td_right">$insurant_info[certificates_code]</td>
    </tr>
    <tr>
        <td width="150" class="check_td_left">性别：</td>
        <td width="190" class="check_td_right">$insurant_info[gender_str]</td>
        <td width="150" class="check_td_left">出生日期：</td>
        <td width="190" class="check_td_right">$insurant_info[birthday]</td>
    </tr>

    <tr><td width="150" class="check_td_left">手机号：</td>
        <td width="190" class="check_td_right">$insurant_info[mobiletelephone]</td>
        <td width="150" class="check_td_left">电子邮箱：</td>
        <td width="190" class="check_td_right">$insurant_info[email]</td>
    </tr>

    </tbody>
</table>
<!--健康告知-->
<!--start 附加信息-->

<div class="x_p_a_c c"><h2>其它信息</h2></div>
<table width="785" cellpadding="0" cellspacing="1" style="padding:15px 0">
    <tbody>
    <tr>
        <td width="150" class="check_td_left">出行目的</td>
        <td width="617" class="check_td_right">$policy_arr[purpose]</td>
    </tr>
        
    <tr>
        <td width="150" class="check_td_left">出行目的地</td>
        <td width="617" class="check_td_right">$policy_arr[destination_country]</td>
    </tr>
        
    <tr>
        <td width="150" class="check_td_left">签证办理城市</td>
        <td width="617" class="check_td_right">$policy_arr[visacity]</td>
    </tr>
        
    </tbody>
</table>

<!--end 附加信息-->
<!--{elseif $bat_post_policy == 1}-->
<style>
    .border_table_05 {}
    .border_table_05 td {border-bottom: 1px solid #dddddd;}
    .border_table_05 th { border-bottom: 1px solid #dddddd;border-top: 1px solid #dddddd;}
    .tac{text-align:center;}
</style>

<div class="x_p_a_c c"><h2>投保人和被保险人信息</h2></div>
<table width="100%" cellspacing="0" cellpadding="0" border="1" class="border_table_05" style="margin-top:10px;margin-bottom:10px;" >
    <tr>
        <th class="fwb tac">序号</th>
        <th class="fwb tac">类型</th>
        <th class="fwb tac">投保人类型</th>
        <th class="fwb tac">姓名</th>
        <th class="fwb tac">英文名</th>
        <th class="fwb tac">证件类型</th>
        <th class="fwb tac">证件号码</th>
        <th class="fwb tac">性别</th>
        <th class="fwb tac">生日</th>
        <th class="fwb tac">邮箱</th>
        <th class="fwb tac">手机号</th>
        <th class="fwb tac">与投保人关系</th>
        <th class="fwb tac">目的地国家(地区)</th>
        <th class="fwb tac">出行目的</th>
        <th class="fwb tac">签约城市</th>
    </tr>
    <!--{eval $indexQs=1;}-->
    <!--{loop $list_applicant_insuraned_info $index $value}-->
    <!--{if $index%2==0}-->
    <tr bgcolor="#faebd7" calss="applicant">
        <!--{else}-->
    <tr bgcolor="" calss="applicant">
        <!--{/if}-->

        <td class="tac" rowspan="2">{$indexQs}</td>
        <td>投保人</td>
        <td data-value="applicant_type" class="tac">$value[applicant_type]</td>
        <td data-value="applicant_name" class="tac">$value[applicant_name]</td>
        <td data-value="applicant_name" class="tac">$value[applicant_englishname]</td>
        <td data-value="applicant_certificates_type" class="tac">$value[applicant_certificates_type]</td>
        <td data-value="applicant_certificates_code" class="tac">$value[applicant_certificates_code]</td>
        <td data-value="applicant_gender" class="tac">$value[applicant_gender]</td>
        <td data-value="applicant_birthday" class="tac">$value[applicant_birthday]</td>
        <td data-value="applicant_email" class="tac">$value[applicant_email]</td>
        <td data-value="applicant_mobilephone" class="tac">$value[applicant_mobilephone]</td>
        <td class="tac">--</td>
        <td class="tac">--</td>
        <td class="tac">--</td>
        <td class="tac">--</td>
    </tr>
    <!--{if $index%2==0}-->
    <tr bgcolor="#faebd7" calss="assured">
        <!--{else}-->
    <tr bgcolor="" calss="assured">
        <!--{/if}-->
        <td>被保险人</td>
        <td class="tac">--</td>
        <td data-value="assured_name" class="tac">$value[assured_name]</td>
    <td data-value="applicant_name" class="tac">$value[assured_englishname]</td>
        <td data-value="assured_certificates_type" class="tac">$value[assured_certificates_type]</td>
        <td data-value="assured_certificates_code" class="tac">$value[assured_certificates_code]</td>
        <td data-value="assured_gender" class="tac">$value[assured_gender]</td>
        <td data-value="assured_birthday" class="tac">$value[assured_birthday]</td>
        <td data-value="assured_email" class="tac">$value[assured_email]</td>
        <td data-value="assured_mobilephone" class="tac">$value[assured_mobilephone]</td>
        <td class="tac" data-value="relationship">$value[relationship]</td>
        <td data-value="destination" class="tac">$value[destination]</td>
        <td data-value="purpose" class="tac">$value[purpose]</td>
        <td data-value="visacity" class="tac">$value[visacity]</td>
    </tr>
    <!--{eval $indexQs++;}-->
    <!--{/loop}-->
</table>
<!--{/if}-->
<div class="x_p_a_c c"><h2>身故受益人信息</h2></div>
<table width="785" cellpadding="0" cellspacing="1" style="padding:15px 0">
    <tbody>
    <tr>
        <td width="150" class="check_td_left">法定</td>
        <td width="617" class="check_td_right"></td>
    </tr>
    </tbody>
</table>
<div class="x_p_a_c c"><h2>保单信息</h2></div>
<table cellpadding="0" cellspacing="0">
        
    <tbody>
    <tr>
        <td width="176" height="45" align="center" class="insure_cen_table_td insure_cen_table_das">保险期限：</td>
            
        <td width="605" class="check_td_right" style="font-weight:bolder">
                
            $policy_arr[start_date]&nbsp;&nbsp;至&nbsp;&nbsp;$policy_arr[end_date]
                
        </td>
    </tr>
    </tbody>

</table>	

<div class="x_p_a_c c"><h2>保障内容</h2></div>
<table cellpadding="0" cellspacing="0" width="700">

    <tbody>
        <tr>
            <td style="text-align: center; width:200px; font-weight:bolder; font-size:14px;"><strong>保险责任</strong></td>
            <td style="text-align: center;font-weight:bolder;font-size:14px;"><strong>保险金额</strong></td>
        </tr>

        <!--{loop $product_duty_list $key $value}-->
        <tr>
            <td class="check_td_left">$value[duty_name]</td>
            <td align="center" style="color:#ff9900">$value[amount]</td>
        </tr>
        <!--{/loop}-->

    </tbody>
</table>

<!--{template cp_product_buy_view_footer}-->
<!--{template footer_cshop}-->