<!--{template header_cshop}-->
<script src="js/quanlianshop/script_input_check_pingan_jingwai.js"></script>
<div class="g-wA100 s-bscT_009c84">
    <div class="g-w1077 f-mc">
 	    <!--{template cp_product_buy_header}-->
        <input id="premium" name="premium" value="$prodcutMarkPrice" type="hidden">
        <input id="posion_price" value="$prodcutMarkPrice" type="hidden">
        <input id="period_code" name="period_code" value="$period_code" type="hidden">
        <!--cp_name 是批量上传的时候使用  区别是哪一个产品-->
        <input id="cp_name" value="pingan_yiwai" type="hidden">
        <input type="radio" name="assured_input_type" checked="checked" style="display:none" value="1" />
        <input type="radio" name="applicant_type" checked="checked" value="1" style="display:none" />
        <div class="f-mt30 s-bscT_009c84 s-bg-eff1f1 f-pt30 f-pl40 f-pr40 f-pb40">
        	<h3 class="cirle_title">投保人信息</h3>
            <section class="f-fs2 s-c-666666 f-mt20">
            	<table cellpadding="0" cellspacing="0" border="0" class="table_buy_01">
                	<tr>
                    	<th width="150">姓 名：</th>
                        <td width="348">
                        	<div class="f-pl10">
                            	<input type="text" class="g-h35 g-w210 f-pl5 f-pr5" placeholder="姓名" id="applicant_fullname" name="applicant_fullname" onblur="check_applicant_name('applicant_fullname','tbr','pc')" >
                                <span class="mes_right" id="applicant_fullname_warn">
                                    <span class="dec"><s class="dec1">◆</s><s class="dec2">◆</s></span><span class="mes_text"></span>
                                </span>
                            </div>
                        </td>
                        <th width="150">手机号码：</th>
                        <td width="348">
                        	<div class="f-pl10">
                            	<input type="text" class="g-h35 g-w210 f-pl5 f-pr5" placeholder="手机号码" name="applicant_mobilephone" id="applicant_mobilephone" onblur="check_applicant_mobilephone('applicant_mobilephone','pc')">
                                <span class="mes_right" id="applicant_mobilephone_warn">
                                    <span class="dec"><s class="dec1">◆</s><s class="dec2">◆</s></span><span class="mes_text"></span>
                                </span>
                            </div>
                        </td>
                        
                    </tr>
                    <tr>
                    	<th>证件类型：</th>
                        <td>
                        	<div class="f-pl10">
	                       <select name="applicant_certificates_type" id="applicant_certificates_type" class="s-select-1">
	                            <option value="01" selected>身份证</option>
	                            <option value="02" >护照</option>
	                            <option value="03" >军人证</option>
	                            <option value="05" >驾驶证</option>
	                            <option value="06" >港澳回乡证或台胞证</option>
	                            <option value="99" >其他</option>
	                        </select>
                                <span class="mes_right" id="applicant_certificates_type_warn">
                                    <span class="dec"><s class="dec1">◆</s><s class="dec2">◆</s></span><span class="mes_text"></span>
                                </span>
                            </div>
                        </td>
                        <th>证件号码：</th>
                        <td>
                        	<div class="f-pl10">
                            	<input type="text" class="g-h35 g-w210 f-pl5 f-pr5" placeholder="证件号码" name="applicant_certificates_code" id="applicant_certificates_code" onblur="check_All_card('applicant_certificates_type','applicant_certificates_code',1,true,'applicant_birthday','applicant_sex')">
                                <span class="mes_right" id="applicant_certificates_code_warn">
                                    <span class="dec"><s class="dec1">◆</s><s class="dec2">◆</s></span><span class="mes_text"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                    	
                        <th>生日：</th>
                        <td>
                        	<div class="f-pl10">
                            	<input type="text" class="g-h35 g-w210 f-pl5 f-pr5" name="applicant_birthday" id="applicant_birthday" >
                                <span class="mes_right" id="applicant_birthday_warn">
                                    <span class="dec"><s class="dec1">◆</s><s class="dec2">◆</s></span><span class="mes_text"></span>
                                </span>
                            </div>
                        </td>
                        <th>性 别：</th>
                        <td>
                        	<div class="f-pl10" id="applicant_sex_s">
                            	<input type="radio" name="applicant_sex" value="M" data-rule="checked"> 男
                                <input type="radio" name="applicant_sex" value="F"> 女
                                <span class="mes_right" id="applicant_sex_warn">
                                    <span class="dec"><s class="dec1">◆</s><s class="dec2">◆</s></span><span class="mes_text"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                    	<th>E-mail：</th>
                        <td>
                        	<div class="f-pl10">
                            	<input type="text" class="g-h35 g-w210 f-pl5 f-pr5" name="applicant_email" id="applicant_email" onblur="check_applicant_email('applicant_email','pc')" >
                                <span class="mes_right" id="applicant_email_warn">
                                    <span class="dec"><s class="dec1">◆</s><s class="dec2">◆</s></span><span class="mes_text"></span>
                                </span>
                            </div>
                        </td>
                        <th>保险期间：</th>
                        <td>
                        	<div class="f-pl10">
                        		<input  class="g-h35 g-w130 f-pl5 f-pr5" type="text" name="startDate" id="startDate" readonly="readonly"/>
                            	 
                                至	
                                <input type="text" class="g-h35 g-w130 f-pl5 f-pr5" name="endDate" id="endDate" readonly="readonly">
                                <span class="mes_right" id="startDate_warn">
                                    <span class="dec"><s class="dec1">◆</s><s class="dec2">◆</s></span><span class="mes_text"></span>
                                </span>
                                <span class="mes_right" id="endDate_warn">
                                    <span class="dec"><s class="dec1">◆</s><s class="dec2">◆</s></span><span class="mes_text"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </section>
        </div>
        
        <div class="f-mt30 f-cb">
        	<div class="f-fl g-w533">
            	<div class="s-bscT_009c84 s-bg-eff1f1 f-pt30 f-pl40 f-pr40 f-pb40">
                    <h3 class="cirle_title-1">被保险人与投保人关系</h3>
                    <section class="f-fs2 s-c-666666 f-mt20">
                        <table cellpadding="0" cellspacing="0" border="0" class="table_buy_01">
                            <tr>
                                <th width="150">与投保人关系：</th>
                                <td width="303">
                                    <div class="f-pl10">
					                   <select name="relationshipWithInsured"  id="relationshipWithInsured" class="s-select-1">
                                       		<option value="1" >本人</option>
					                        <option value="2" >配偶</option>
                                            <option value="3" >父子</option>
					                        <option value="4">父女</option>
					                        <option value="5" >受益人</option>
					                        <option value="6" >被保人</option>
					                        <option value="7" >投保人</option>
					                        <option value="A" >母子</option>
					                        <option value="B" >母女 </option>
					                        <option value="C" >兄弟 </option>
					                        <option value="D" > 姐弟 </option>
					                        <option value="G" >祖孙</option>
					                        <option value="H" >雇佣</option>
					                        <option value="I" >子女</option>
					                        <option value="9" >其他</option>
					                        <option value="8" >转换不详</option>
					                    </select>
                                    </div>
                                </td>
                                 
                            </tr>
                             
                        </table>
                    </section>
                </div>
            </div>
            <div class="f-fr g-w533">
            	<div class="s-bscT_009c84 s-bg-eff1f1 f-pt30 f-pl40 f-pr40 f-pb40">
                    <h3 class="cirle_title-1">受益人信息</h3>
                    <section class="f-fs2 s-c-666666 f-mt20">
                        <table cellpadding="0" cellspacing="0" border="0" class="table_buy_01">
                            <tr>
                                <th width="105">受益人：</th>
                                <td width="348">
                                    <div class="f-pl10">
                                        <select name="" class="s-select-1" name="beneficiary">
                                            <option value="1">法定</option>
                                             
                                        </select>
                                         
                                    </div>
                                </td>
                                 
                            </tr>
                             
                        </table>
                    </section>
                </div>
            </div>
        </div>
        
        <div class="f-mt30 s-bscT_009c84 s-bg-eff1f1 f-pt30 f-pl40 f-pr40 f-pb40" id="div_assured" style="display:none">
        	<h3 class="cirle_title">被保险人信息</h3>
            <section class="f-fs2 s-c-666666 f-mt20">
            	<table cellpadding="0" cellspacing="0" border="0" class="table_buy_01">
                	<tr>
                    	<th width="150">姓 名：</th>
                        <td width="348">
                        	<div class="f-pl10">
                            	<input type="text" class="g-h35 g-w210 f-pl5 f-pr5" placeholder="姓名" name="assured[0][assured_fullname]" id="assured_fullname" onblur="check_applicant_name('assured_fullname','bbxr','pc')" >
                                <span class="mes_right" id="assured_fullname_warn">
                                    <span class="dec"><s class="dec1">◆</s><s class="dec2">◆</s></span><span class="mes_text"></span>
                                </span>
                            </div>
                        </td>
                        <th width="150">手机号码：</th>
                        <td width="348">
                        	<div class="f-pl10">
                            	<input type="text" class="g-h35 g-w210 f-pl5 f-pr5" placeholder="手机号码" name="assured[0][assured_mobilephone]" id="assured_mobilephone" onblur="check_applicant_mobilephone('assured_mobilephone','pc')">
                                <span class="mes_right" id="assured_mobilephone_warn">
                                    <span class="dec"><s class="dec1">◆</s><s class="dec2">◆</s></span><span class="mes_text"></span>
                                </span>
                            </div>
                        </td>
                        
                    </tr>
                    <tr>
                    	<th>证件类型：</th>
                        <td>
                        	<div class="f-pl10">
		                       <select name="assured[0][assured_certificates_type]" id="assured_certificates_type" class="s-select-1">
		                            <option value="01" selected>身份证</option>
		                            <option value="02" >护照</option>
		                            <option value="03" >军人证</option>
		                            <option value="05" >驾驶证</option>
		                            <option value="06" >港澳回乡证或台胞证</option>
		                            <option value="99" >其他</option>
		                        </select>
                                
                                <span class="mes_right" id="assured_certificates_type_warn">
                                    <span class="dec"><s class="dec1">◆</s><s class="dec2">◆</s></span><span class="mes_text"></span>
                                </span>
                            </div>
                        </td>
                        <th>证件号码：</th>
                        <td>
                        	<div class="f-pl10">
                            	<input type="text" class="g-h35 g-w210 f-pl5 f-pr5" placeholder="证件号码" name="assured[0][assured_certificates_code]" id="assured_certificates_code" onblur="check_All_card('assured_certificates_type','assured_certificates_code',2,true,'assured_birthday','assured[0][assured_sex]')">
                                <span class="mes_right" id="assured_certificates_code_warn">
                                    <span class="dec"><s class="dec1">◆</s><s class="dec2">◆</s></span><span class="mes_text"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                    	 
                        <th>生日：</th>
                        <td>
                        	<div class="f-pl10">
                            	<input type="text" class="g-h35 g-w210 f-pl5 f-pr5" name="assured[0][assured_birthday]" id="assured_birthday">
                                <span class="mes_right" id="assured_birthday_warn">
                                    <span class="dec"><s class="dec1">◆</s><s class="dec2">◆</s></span><span class="mes_text"></span>
                                </span>
                            </div>
                        </td>
                        <th>性 别：</th>
                        <td>
                        	<div class="f-pl10" id="assured_sex_s">
                            	<input type="radio" name="assured[0][assured_sex]" value="M" checked > 男
                                <input type="radio" name="assured[0][assured_sex]" value="F"> 女
                                <span class="mes_right" id="assured_sex_warn">
                                    <span class="dec"><s class="dec1">◆</s><s class="dec2">◆</s></span><span class="mes_text"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                    	<th>E-mail：</th>
                        <td>
                        	<div class="f-pl10">
                            	<input type="text" class="g-h35 g-w210 f-pl5 f-pr5" name="assured[0][assured_email]" id="assured_email" onblur="check_applicant_email('assured_email','pc')">
                                <span class="mes_right" id="assured_email_warn">
                                    <span class="dec"><s class="dec1">◆</s><s class="dec2">◆</s></span><span class="mes_text"></span>
                                </span>
                            </div>
                        </td>
                        <th></th>
                        <td>
                        	
                        </td>
                    </tr>
                </table>
            </section>
        </div>
    	
	    <!--{template cp_product_buy_footer}-->
        
    </div>
    
    
</div>
 
<!--{template footer_cshop}-->	
