<!--{template header_cshop}-->
<!--{template cp_product_buy_view_header}-->
<!--{if $bat_post_policy == 0}-->
<div class="x_p_a_c c"><h2>人员信息</h2></div>
<!--保险计划-->
<!--投保人信息-->
 <table width="785" cellpadding="0" cellspacing="1" style="padding:15px 0;border-collapse: separate;">
    
    <tr>
        <td width="150" class="check_td_left">被保险人名称：</td>
        <td width="190" class="check_td_right">{$insurant_info[fullname]}</td>
        <td width="150" class="check_td_left">被保险人证件号码：</td>
        <td width="190" class="check_td_right">{$insurant_info[certificates_code]}</td>
    </tr>
    <tr>
        <td width="150" class="check_td_left">邮政编码：</td>
        <td width="190" class="check_td_right">{$insurant_info[zipcode]}</td>
        <td width="150" class="check_td_left">被保险人联系地址：</td>
        <td width="190" class="check_td_right">{$insurant_info[address]}</td>
    </tr>
    
    <tr>
        <td width="150" class="check_td_left">联系人：</td>
        <td width="190" class="check_td_right">$user_info_applicant[fullname]</td>
        <td width="150" class="check_td_left">手机号码：</td>
        <td width="190" class="check_td_right">{$user_info_applicant[mobiletelephone]}</td>
    </tr>
    <tr>
        <td width="150" class="check_td_left">Email：</td>
        <td width="190" class="check_td_right" colspan="3">{$user_info_applicant[email]}</td>
         
    </tr>

  
    </table>


   <div class="x_p_a_c c"><h2>车辆运单信息</h2></div>


  <table width="785" cellpadding="0" cellspacing="1" style="padding:15px 0;border-collapse: separate;">
  		 <tr>
         	<td width="150" class="check_td_left">道路运输许可证号码：</td>
            <td width="190" class="check_td_right">{$policy_arr[RoadLicenseNumber]}</td>
            <td width="150" class="check_td_left">累计承保车辆：</td>
            <td width="190" class="check_td_right">1辆</td>
            
         </tr>
         <tr>
            
            <td width="150" class="check_td_left">运输车辆号码：</td>
            <td width="190" class="check_td_right">$policy_arr[CarNumber]</td>
            <td width="150" class="check_td_left">运输货物名称：</td>
            <td width="190" class="check_td_right">{$policy_arr[GoodsName]}</td>
        </tr>
        <tr>
            
            <td width="150" class="check_td_left">行驶证车主：</td>
            <td width="190" class="check_td_right">$policy_arr[VehicleOwners]</td>
            <td width="150" class="check_td_left">运输车辆核定载质量：</td>
            <td width="190" class="check_td_right">{$policy_arr[TransportVehiclesApprovedTotal]} KG</td>
        </tr>
        <tr>
            
            <td width="150" class="check_td_left">车辆车架号/识别代码：</td>
            <td width="190" class="check_td_right">$policy_arr[FrameNumber]</td>
            <td width="150" class="check_td_left">发动机号码：</td>
            <td width="190" class="check_td_right">$policy_arr[EngineNo]</td>
        </tr>
        {if $policy_arr.BusinessType=='05'}
        <tr>
            <td width="150" class="check_td_left">运单号：</td>
            <td width="190" class="check_td_right">{$policy_arr[DeliverorderNo]}</td>
            <td width="150" class="check_td_left">起运日期：</td>
            <td width="190" class="check_td_right">$policy_arr[SailDate]</td>
            
        </tr>
        <tr>
            
            <td width="150" class="check_td_left">起运地：</td>
            <td width="190" class="check_td_right">$policy_arr[StartPlace]</td>
            <td width="150" class="check_td_left">目的地：</td>
            <td width="190" class="check_td_right">{$policy_arr[EndPlace]}</td>
        </tr>
        {/if}
         
  </table>
  
   
  
  <div class="x_p_a_c c"><h2>保险信息</h2></div>


  <table width="785" cellpadding="0" cellspacing="1" style="padding:15px 0;border-collapse: separate;">
  		 
         
         <tr>
         	<td width="150" class="check_td_left">累计责任限额:</td>
            <td width="190" class="check_td_right">{$policy_arr[SumAmount]}元</td>
            <td width="150" class="check_td_left">保险费率:</td>
            <td width="190" class="check_td_right">{$policy_arr[Rate]}</td> 
         </tr>
         <tr>
         	<td width="150" class="check_td_left">保费:</td>
            <td width="190" class="check_td_right">{$policy_arr[Premium]}元</td>
            <td width="150" class="check_td_left">每次事故赔偿限额:</td>
            <td width="190" class="check_td_right">{$policy_arr[TimeAmount]}元</td> 
         </tr>
         <tr>
            <td width="150" class="check_td_left">免赔条件:</td>
            <td width="190" class="check_td_right" colspan="3">{$policy_arr[EachAccidentFranchise]}</td> 
         </tr> 
         <!--
         <tr>
            <td width="150" class="check_td_left">特别约定:</td>
            <td width="190" class="check_td_right" colspan="3">{$policy_arr[Specialterm]}</td> 
         </tr> 
         -->
  </table>
<!--{/if}-->
<div class="x_p_a_c c"><h2>保单信息</h2></div>
<table cellpadding="0" cellspacing="0" width="700">

    <tbody>
	<tr>
          <td width="176" height="35" class="check_td_left">业务类型:</td>
          <td width="605" class="check_td_right">{if $policy_arr.BusinessType=='05'}单次业务{else}单车业务{/if}</td>
             
    </tr>
    <tr>
        <td width="176" height="35" align="center" class="insure_cen_table_td insure_cen_table_das">保险期限：
        </td>

        <td width="605" class="check_td_right" style="font-weight:bolder">
            $policy_arr[start_date]&nbsp;&nbsp;至&nbsp;&nbsp;$policy_arr[end_date]
        </td>
    </tr>

    </tbody>
</table>

<!--{template cp_product_buy_view_footer}-->
<!--{template footer_cshop}-->	
