<!--{template header}-->

<div id="main-content">



<div id="content-body">
                                <div id="toolbar">






<ul>
    

    

    
    <li class="button-80" onmouseover="this.className='button-over-80';" onmouseout="this.className='button-80';">
        <a href="/careerCategoryAction.do?method=prepare&amp;action=create"><img src="template/images/createButton.gif" alt="增加">
            增加</a>
    </li>
    

    

    

    

    

    

    

    

    

    

    

    

    

    
    <li class="button-80" onmouseover="this.className='button-over-80';" onmouseout="this.className='button-80';">
        <a href="javascript:submitUpdateAction(document.forms[0], '/careerCategoryAction.do?method=listUpdate')" target="_self"><img src="template/images/updateButton.gif" alt="修改">
            修改</a>
    </li>
    

    

    

    

    

    

    

    

    

    

    
    <li class="button-80" onmouseover="this.className='button-over-80';" onmouseout="this.className='button-80';">
        <a href="javascript:submitDeleteAction(document.forms[0], '/careerCategoryAction.do?method=delete')"><img src="template/images/deleteButton.gif" alt="删除">
            删除</a>
    </li>
    
    <li class="button-80" onmouseover="this.className='button-over-80';" onmouseout="this.className='button-80';">
        <a href="/careerCategoryAction.do?method=prepare&amp;action=search"><img src="template/images/searchButton.gif" alt="查询">
            查询</a>
    </li>
    
     <li class="button-80" onmouseover="this.className='button-over-80';" onmouseout="this.className='button-80';">
        <a href="/careerCategoryAction.do?method=prepare&amp;action=importData"><img src="template/images/searchButton.gif" alt="导入">
            导入</a>
    </li>
  
    
   
</ul>

</div>
                                <div id="error">

</div>
                                <div id="navigator">





    <div class="content">
        当前位置：
        
            
            
                
            
            
                职业分类
            
        
    </div>

</div>
                                <div id="main-body">









<script type="text/javascript">
    function selectAllCheckBox() {
        checkAllBox(document.forms['careerCategoryForm']);
    }
</script>

<form name="careerCategoryForm" method="post" action="/careerCategoryAction.do?method=list">
    <input name="moduleId" value="" type="hidden">

    <div class="list">
        <div class="listData">
            <div>


<table class="listTable">
    <tbody><tr class="listTitle">
        <td width="5%">序号</td>
        <td width="5%"><label><input name="checkAll" onclick="selectAllCheckBox()" type="checkbox"></label></td>
        <td width="20%"><a href="/careerCategoryAction.do?method=search&amp;order=code">职业编码</a></td>
        <td width="30%"><a href="/careerCategoryAction.do?method=search&amp;order=name">职业名称</a></td>
        <td width="20%"><a href="/careerCategoryAction.do?method=search&amp;order=parent">上级职业</a></td>
        <td width="20%"><a href="/careerCategoryAction.do?method=search&amp;order=careerType">职业类别</a></td>
    </tr>
    
        
          <!--{loop $list $key $value}-->   
            <tr class="tdContent">
                <td>1</td>
                <td><input name="selectedItems" value="$value[id]" onclick="setSelection(this);" type="checkbox"></td>
                <td> <a href="$theurl&id=$value[id]" target="_blank">$value[code]</a></td>
                <td>
                 <a href="$theurl&id=$value[id]" target="_blank">$value[name]</a>
                 </td>
                <td></td>
                <td></td>
            </tr>
         <!--{/loop}-->   
    
</tbody></table>
</div>
        </div>
    </div>

    <div style="border-bottom: 1px solid #A5B5C0;"></div>

    
    <div class="page">
    $multi
    </div>
    
    
</form>
</div>

</div> <!-- content-body -->
                            
                            
                            

</div> <!--id="main-content -->                            

