<!--{template header}-->

<div id="main-content">

<!--{template space_admin_sidebar}-->

<div id="content-body">
                                <div id="toolbar">

<ul>
      
    <li class="button-80" onmouseover="this.className='button-over-80';" onmouseout="this.className='button-80';">
        <a href="cp.php?ac=admin_insurance_duty"><img src="/pages/images/createButton.gif" alt="增加">
            增加</a>
    </li>
 
     <li class="button-80" onmouseover="this.className='button-over-80';" onmouseout="this.className='button-80';">
        <a href="javascript:submitUpdateAction(document.forms[0], '/insuranceDutyAction.do?method=listUpdate')" target="_self"><img src="/pages/images/updateButton.gif" alt="修改">
            修改</a>
    </li>
    

     
    <li class="button-80" onmouseover="this.className='button-over-80';" onmouseout="this.className='button-80';">
        <a href="javascript:submitDeleteAction(document.forms[0], '/insuranceDutyAction.do?method=delete')"><img src="/pages/images/deleteButton.gif" alt="删除">
            删除</a>
    </li>
    
    <li class="button-80" onmouseover="this.className='button-over-80';" onmouseout="this.className='button-80';">
        <a href="/insuranceDutyAction.do?method=prepare&amp;action=search"><img src="/pages/images/searchButton.gif" alt="查询">
            查询</a>
    </li>
    
    
</ul>

</div>
                                <div id="error">

</div>
                                <div id="navigator">

    <div class="content">
        当前位置：
                  保险责任
            
        
    </div>

</div>
                                <div id="main-body">

<script type="text/javascript">
    function selectAllCheckBox() {
        checkAllBox(document.forms['insuranceDutyForm']);
    }
</script>

<form name="insuranceDutyForm" method="post" action=""cp.php?ac=admin_insurance_duty&op=delete">
    <input name="moduleId" value="" type="hidden">

    <div class="list">
        <div class="listData">
            <div>

<table class="listTable">
    <tbody><tr class="listTitle">
        <td width="5%">序号</td>
        <td width="5%"><label><input name="checkAll" onclick="selectAllCheckBox()" type="checkbox"></label></td>
        <td width="20%"><a href="/insuranceDutyAction.do?method=search&order=duty_code">责任编码</a></td>
        <td width="20%"><a href="/insuranceDutyAction.do?method=search&order=duty_name">责任名称</a></td>
        <td width="25%"><a href="/insuranceDutyAction.do?method=search&order=insurer_name">保险公司</a></td>
		
		<td width="25%">操作</td>

    </tr>
    
        
         <!--{loop $list $key $value}-->   
            <tr class="tdContent">
                <td>$key</td>
                <td><input name="selectedItems" value="$value[duty_id]" type="checkbox"></td>
                <td><a href="$theurl&duty_id=$value[duty_id]" target="_blank">$value[duty_code]</a></td>
				
								<td>
                <a href="$theurl&duty_id=$value[duty_id]" target="_blank">$value[duty_name] </a>
                </td>	
                
                
				<td>
                <a href="space.php?do=admin_insurance_company&insurer_id=$value[insurer_id]" target="_blank">$value[insurer_name] </a>
                </td>
				

			<td>
             <a href="cp.php?ac=admin_insurance_duty&duty_id=$value[duty_id]" target="_self"><img src="template/images/updateButton.gif" alt="修改">
            修改</a>
             </td>
               
			   
                <td></td>
            </tr>
       <!--{/loop}-->  

        
    
</tbody></table>
</div>
        </div>
    </div>

    <div style="border-bottom: 1px solid #A5B5C0;"></div>

    
        
    <div class="page">
    $multi
    </div>
    
</form>
</div>

</div>  <!-- content-body -->
                            

</div> <!--id="main-content -->                            

<!--{template footer}-->