<!--{template header}-->

	<div class="center" id="navigation">
  <div class="ft_l">
    <h2><img src="image/menu.png"></h2>
    <ul class="tit">
      <li class="mod_cate">
        <h4><a href="#" target="_blank">汽车保险</a></h4>
        <div class="mod_subcate">
          <div class="mod_subcate_main">
            <dl>
              <dt><a href="#" target="_blank">栏目名称</a></dt>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
            </dl>
          </div>
        </div>
      </li>
      <li class="mod_cate">
        <h4><a href="#" target="_blank">旅游保险</a></h4>
        <div class="mod_subcate">
          <div class="mod_subcate_main">
            <dl>
              <dt><a href="#" target="_blank">栏目名称</a></dt>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
            </dl>
          </div>
        </div>
      </li>
      <li class="mod_cate">
        <h4><a href="#" target="_blank">意外保险</a></h4>
        <div class="mod_subcate">
          <div class="mod_subcate_main">
            <dl>
              <dt><a href="#" target="_blank">栏目名称</a></dt>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
            </dl>
          </div>
        </div>
      </li>
      <li class="mod_cate">
        <h4><a href="#" target="_blank">健康保险</a></h4>
        <div class="mod_subcate">
          <div class="mod_subcate_main">
            <dl>
              <dt><a href="#" target="_blank">栏目名称</a></dt>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
            </dl>
          </div>
        </div>
      </li>
      <li class="mod_cate">
        <h4><a href="#" target="_blank">财产保险</a></h4>
        <div class="mod_subcate">
          <div class="mod_subcate_main">
            <dl>
              <dt><a href="#" target="_blank">栏目名称</a></dt>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
            </dl>
          </div>
        </div>
      </li>
      <li class="mod_cate">
        <h4><a href="#" target="_blank">少儿女性</a></h4>
        <div class="mod_subcate">
          <div class="mod_subcate_main">
            <dl>
              <dt><a href="#" target="_blank">栏目名称</a></dt>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
            </dl>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="ft_r">
    <div class="m-slide">
      <ul class="img" style="position:relative; width:541px; height:320px;">
        <li style="position:absolute; width:541px; left:0px; top:0px; display:list-item;"><a href="#"><img src="image/banners.jpg"></a></li>
        <li style="position:absolute; width:541px; left:0px; top:0px; display:none;"> <a href="#"><img src="image/banners.jpg"></a></li>
        <li style="position:absolute; width:541px; left:0px; top:0px; display:none;"> <a href="#"><img src="image/banners.jpg"></a></li>
        <li style="position:absolute; width:541px; left:0px; top:0px; display:none;"> <a href="#"><img src="image/banners.jpg"></a></li>
<li style="position:absolute; width:541px; left:0px; top:0px; display:none;"> <a href="#"><img src="image/banners.jpg"></a></li>
      </ul>
      <ul class="tab">
        <li class="ssi on"><a href="javascript:"><b></b> <span class="title">餐垫艺术 </span><span class="des">让餐桌色彩丰富起来 </span></a> </li>
        <li class="ssi"><a href="javascript:"><b></b><span class="title">秋冬款连衣裙 </span><span class="des">优雅的小女人味 </span></a></li>
        <li class="ssi"><a href="javascript:"><b></b><span class="title"> 秋冬围巾 </span><span class="des">温暖来袭 </span></a></li>
        <li class="ssi"><a href="javascript:"><b></b><span class="title"> 帅气军工装 </span><span class="des">时尚中性风 </span></a></li>
<li class="ssi"><a href="javascript:"><b></b><span class="title"> 帅气军工装 </span><span class="des">时尚中性风 </span></a></li>
      </ul>
      <b class="bottom-shadow"></b></div>
    <script>jQuery(".m-slide").slide({ titCell:".tab li", mainCell:".img",effect:"fold", autoPlay:true});</script>
  </div>
  <div class="clearft"></div>
</div>
  <!--navigation-->
	

<!--{template footer}-->