<!-- <div id="sidebar">

<div class="top"></div>
<div class="content">
    

<script type="text/javascript">
    $(document).ready(function(){
        $('#accordion').accordion({
            active: false,
            header: 'a.head',
            navigation: true,
            event: 'dblclick',
            clearStyle: true,
            animated: 'easeslide',
            heightStyle: 'fill'
        });
    });
</script>

<div class="ui-accordion" id="accordion">
    <a href="/productAction.do?method=list" class="selected">保险产品</a>
    
    <div class="dtree">
    
<script type="text/javaScript">
    var menuTree = new dTree('menuTree');
menuTree.add(1100, -1, '险种类别22', 'space.php?do=admin_insurance_type', '险种类别22', '_self', '', '');
menuTree.add(1200, -1, '保险公司', 'space.php?do=admin_insurance_company', '保险公司', '_self', '', '');
menuTree.add(1300, -1, '保险产品', 'space.php?do=admin_insurance_products', '保险产品', '_self', '', '');
menuTree.add(1400, -1, '附加险', '/insuranceSortAction.do?method=list', '附加险', '_self', '', '');
menuTree.add(1500, -1, '保险责任', '/insuranceDutyAction.do?method=list', '保险责任', '_self', '', '');
menuTree.add(1600, -1, '职业分类', '/careerCategoryAction.do?method=list', '职业分类', '_self', '', '');
menuTree.add(1700, -1, '参数管理', '/insurancePropertyAction.do?method=list', '参数管理', '_self', '', '');
menuTree.add(1800, -1, '参数关联', '/insurancePropertyRelationAction.do?method=list', '参数关联', '_self', '', '');
menuTree.add(1900, -1, '报价人', '/insurerBidderAction.do?method=list', '报价人', '_self', '', '');
document.write(menuTree);
</script>

<div class="dtree">
<div class="dTreeNode">


<div class="dTreeNode">
<a id="smenuTree1" class="$activetree[insurance_company]" href="space.php?do=admin_insurance_user" title="用户列表" target="_self" onclick="javascript: menuTree.s(1);">用户列表</a></div>

<a id="smenuTree0" class="$activetree[insurance_type]" href="space.php?do=admin_insurance_type" title="险种类别" target="_self" onclick="javascript: menuTree.s(0);">险种类别</a>
</div>

<div class="dTreeNode">
<a id="smenuTree1" class="$activetree[insurance_company]" href="space.php?do=admin_insurance_company" title="保险公司" target="_self" onclick="javascript: menuTree.s(1);">保险公司</a></div>

<div class="dTreeNode">
<a id="smenuTree6" class="$activetree[insurance_duty]" href="space.php?do=admin_insurance_duty" title="保险责任" target="_self" onclick="javascript: menuTree.s(4);">保险责任</a>
</div>

<div class="dTreeNode">
<a id="smenuTree7" class="$activetree[career_category]" href="space.php?do=admin_career_category" title="职业分类" target="_self" onclick="javascript: menuTree.s(5);">职业分类</a>
</div>


<div class="dTreeNode">
<a id="smenuTree2" class="$activetree[insurance_product_attribute]" href="space.php?do=admin_insurance_product_attribute" title="保险公司" target="_self" onclick="javascript: menuTree.s(1);">产品属性</a></div>


<div class="dTreeNode">
<a id="smenuTree3" class="$activetree[insurance_product]" href="space.php?do=admin_insurance_product" title="保险产品" target="_self" onclick="javascript: menuTree.s(2);">保险产品</a>
</div>

<div class="dTreeNode">
<a id="smenuTree4" class="$activetree[insurance_additional]" href="space.php?do=admin_insurance_additional" title="附加险" target="_self" onclick="javascript: menuTree.s(3);">附加险</a>
</div>

<div class="dTreeNode">
<a id="smenuTree5" class="$activetree[insurance_order]" href="space.php?do=admin_insurance_order" title="订单管理" target="_self" onclick="javascript: menuTree.s(3);">订单管理</a>
</div>



<div class="dTreeNode">
<a id="smenuTree5" class="$activetree[insurance_policy]" href="space.php?do=admin_insurance_policy" title="保单管理" target="_self" onclick="javascript: menuTree.s(3);">保单管理</a>
</div>

</div>

</div>
<a href="/applicantIndividualAction.do?method=list" class="head">客户管理</a>

<div style="height: 0px; display: none;"></div>
<a href="/salesChannelAction.do?method=list" class="head">营销机构</a>
<div style="height: 0px; display: none;"></div><a href="/bankAction.do?method=list" class="head">银行档案</a><div style="height: 0px; display: none;"></div><a href="/contactAction.do?method=list" class="head">客户关系</a><div style="height: 0px; display: none;"></div><a href="/configCodeManagerAction.do?method=list" class="head">系统设置</a><div style="height: 0px; display: none;"></div>
</div>

</div>
<div class="bottom"></div>
</div> -->