<!--{template header}-->

	
		
	<div id="navigation" class="center">	
		
		<div class="ft_l">
    <h2><img src="image/menu.png"></h2>
    <ul class="tit">
      <li class="mod_cate">
        <h4><a href="#" target="_blank">汽车保险</a></h4>
        <div style="display: none;" class="mod_subcate">
          <div class="mod_subcate_main">
            <dl>
              <dt><a href="#" target="_blank">栏目名称</a></dt>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
            </dl>
          </div>
        </div>
      </li>
      <li class="mod_cate">
        <h4><a href="#" target="_blank">旅游保险</a></h4>
        <div style="display: none;" class="mod_subcate">
          <div class="mod_subcate_main">
            <dl>
              <dt><a href="#" target="_blank">栏目名称</a></dt>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
            </dl>
          </div>
        </div>
      </li>
      <li class="mod_cate">
        <h4><a href="#" target="_blank">意外保险</a></h4>
        <div style="display: none;" class="mod_subcate">
          <div class="mod_subcate_main">
            <dl>
              <dt><a href="#" target="_blank">栏目名称</a></dt>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
            </dl>
          </div>
        </div>
      </li>
      <li class="mod_cate">
        <h4><a href="#" target="_blank">健康保险</a></h4>
        <div style="display: none;" class="mod_subcate">
          <div class="mod_subcate_main">
            <dl>
              <dt><a href="#" target="_blank">栏目名称</a></dt>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
            </dl>
          </div>
        </div>
      </li>
      <li class="mod_cate">
        <h4><a href="#" target="_blank">财产保险</a></h4>
        <div style="display: none;" class="mod_subcate">
          <div class="mod_subcate_main">
            <dl>
              <dt><a href="#" target="_blank">栏目名称</a></dt>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
            </dl>
          </div>
        </div>
      </li>
      <li class="mod_cate">
        <h4><a href="#" target="_blank">少儿女性</a></h4>
        <div class="mod_subcate">
          <div class="mod_subcate_main">
            <dl>
              <dt><a href="#" target="_blank">栏目名称</a></dt>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
            </dl>
          </div>
        </div>
      </li>
    </ul>
	
	
	
	<div class="r_box" style="margin-top:1opx;">
        <h3><img src="image/menu01.jpg" height="20" width="145"></h3>
        <p><a href="#"><img src="#" height="66px" width="186px"></a></p>
        <ul>
          <li><a href="#" title="成亚芳湖北武汉平安保险">成亚芳湖北武汉平安保险</a></li>
          <li><a href="#" title="成亚芳湖北武汉平安保险">成亚芳湖北武汉平安保险</a></li>
          <li><a href="#" title="成亚芳湖北武汉平安保险">成亚芳湖北武汉平安保险</a></li>
          <li><a href="#" title="成亚芳湖北武汉平安保险">成亚芳湖北武汉平安保险</a></li>
          <li><a href="#" title="成亚芳湖北武汉平安保险">成亚芳湖北武汉平安保险</a></li>
          <li><a href="#" title="成亚芳湖北武汉平安保险">成亚芳湖北武汉平安保险</a></li>
          <li><a href="#" title="成亚芳湖北武汉平安保险">成亚芳湖北武汉平安保险</a></li>
          <li><a href="#" title="成亚芳湖北武汉平安保险">成亚芳湖北武汉平安保险</a></li>
          <li><a href="#" title="成亚芳湖北武汉平安保险">成亚芳湖北武汉平安保险</a></li>
          <li><a href="#" title="成亚芳湖北武汉平安保险">成亚芳湖北武汉平安保险</a></li>
        </ul>
      </div>
	  <!--r_box-->
	
	
  </div>
  
  <!--ft_l-->
  
  
  <div class="ft_r">
      <div class="searchbox">
        <p><a href="">首页</a>&nbsp;&gt;&nbsp;<a href="">找代理人</a></p>
        <ul>
          <li><span>地区：</span><a href="#" class="ssss">全部</a><a href="#" title="综合意外">北京</a><a href="#" title="综合意外">北京</a><a href="#" title="综合意外">北京</a><a href="#" title="综合意外">北京</a><a href="#" title="综合意外">北京</a><a href="#" title="综合意外">北京</a></li>
          <li><span>机构：</span><a href="#" class="ssss">全部</a><a href="#" title="综合意外">人保财险</a><a href="#" title="综合意外">人保财险</a><a href="#" title="综合意外">人保财险</a><a href="#" title="综合意外">人保财险</a><a href="#" title="综合意外">人保财险</a><a href="#" title="综合意外">人保财险</a></li>
        </ul>
      </div>
      <div class="pro_img">
        <dl>
          <dt><a href="#"><img src="image/img003.png" height="111" width="168"></a></dt>
          <dd>盛彩霞&nbsp;13185713183</dd>
          <dd>工作区域：杭州</dd>
  <dd>从业时间：2000-12-14(14年)</dd>
        </dl>
<dl>
          <dt><a href="#"><img src="image/img003.png" height="111" width="168"></a></dt>
          <dd>盛彩霞&nbsp;13185713183</dd>
          <dd>工作区域：杭州</dd>
  <dd>从业时间：2000-12-14(14年)</dd>
        </dl>
<dl>
          <dt><a href="#"><img src="image/img003.png" height="111" width="168"></a></dt>
          <dd>盛彩霞&nbsp;13185713183</dd>
          <dd>工作区域：杭州</dd>
  <dd>从业时间：2000-12-14(14年)</dd>
        </dl>
<dl>
          <dt><a href="#"><img src="image/img003.png" height="111" width="168"></a></dt>
          <dd>盛彩霞&nbsp;13185713183</dd>
          <dd>工作区域：杭州</dd>
  <dd>从业时间：2000-12-14(14年)</dd>
        </dl>
<dl>
          <dt><a href="#"><img src="image/img003.png" height="111" width="168"></a></dt>
          <dd>盛彩霞&nbsp;13185713183</dd>
          <dd>工作区域：杭州</dd>
  <dd>从业时间：2000-12-14(14年)</dd>
        </dl>
<dl>
          <dt><a href="#"><img src="image/img003.png" height="111" width="168"></a></dt>
          <dd>盛彩霞&nbsp;13185713183</dd>
          <dd>工作区域：杭州</dd>
  <dd>从业时间：2000-12-14(14年)</dd>
        </dl>
<dl>
          <dt><a href="#"><img src="image/img003.png" height="111" width="168"></a></dt>
          <dd>盛彩霞&nbsp;13185713183</dd>
          <dd>工作区域：杭州</dd>
  <dd>从业时间：2000-12-14(14年)</dd>
        </dl>
<dl>
          <dt><a href="#"><img src="image/img003.png" height="111" width="168"></a></dt>
          <dd>盛彩霞&nbsp;13185713183</dd>
          <dd>工作区域：杭州</dd>
  <dd>从业时间：2000-12-14(14年)</dd>
        </dl>
<dl>
          <dt><a href="#"><img src="image/img003.png" height="111" width="168"></a></dt>
          <dd>盛彩霞&nbsp;13185713183</dd>
          <dd>工作区域：杭州</dd>
  <dd>从业时间：2000-12-14(14年)</dd>
        </dl>
<dl>
          <dt><a href="#"><img src="image/img003.png" height="111" width="168"></a></dt>
          <dd>盛彩霞&nbsp;13185713183</dd>
          <dd>工作区域：杭州</dd>
  <dd>从业时间：2000-12-14(14年)</dd>
        </dl>
<dl>
          <dt><a href="#"><img src="image/img003.png" height="111" width="168"></a></dt>
          <dd>盛彩霞&nbsp;13185713183</dd>
          <dd>工作区域：杭州</dd>
  <dd>从业时间：2000-12-14(14年)</dd>
        </dl>
<dl>
          <dt><a href="#"><img src="image/img003.png" height="111" width="168"></a></dt>
          <dd>盛彩霞&nbsp;13185713183</dd>
          <dd>工作区域：杭州</dd>
  <dd>从业时间：2000-12-14(14年)</dd>
        </dl>
<div class="clearfl"></div>
      </div>
      <div class="page">123</div>
      <!--页码-->
    </div>
			
			<!-- end ft_r--> 
	  
  </div>
  <!--navigation-->
	

<!--{template footer}-->