<!--{template header}-->

<div id="main-content">


<div id="main-body">

<a href="space.php?do=admin_insurance_product_attribute"> 返回类别列表 </a>


    <div id="view">
        <div id="viewData">
            <div id="viewContent">
                

<a href="cp.php?ac=admin_insurance_product_attribute&attribute_id=$value[attribute_id]">修改 </a>

<form name="insuranceKindForm" method="POST" action="cp.php?ac=admin_insurance_product_attribute&attribute_id=$attribute_id">


<input type="hidden" name="product_lock_submit" id="product_lock_submit" value="true" />
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />



<table class="view-table">
    <tbody><tr>
        <td colspan="4" class="view-header">基本信息</td>
    </tr>
    <tr>
        <td class="view-first-title">名称</td>
        <td class="view-top-right-text">$value[attribute_name]</td>

        <td class="view-first-title">险种代码</td>
        <td class="view-top-right-text">$value[attribute_code]</td>
		
    </tr>
	
	<tr>

        <td class="view-first-title">保险公司</td>
        <td class="view-top-right-text">
		<a href="space.php?do=admin_insurance_company&insurer_id=$value[insurer_id]">$value[insurer_name]</a>
		</td>
        
        <!-- add yes123 2015-01-20 产品在什么平台上显示 -->
        <td class="view-first-title">显示平台</td>
        <td class="view-top-right-text">
        	<span style="color: red">
        	{if $value[is_show_in_app]}
        		APP
        	{/if}
        	&nbsp;&nbsp;
        	{if $value[is_show_in_weixin]}
        		微信
        	{/if}
        	&nbsp;&nbsp;PC
        	{if $value[is_show_in_appwebview]}
        		&nbsp;&nbsp;H5
        	{/if}
        	</span>
        </td>
		
    </tr>
	
    <tr>
	    <td class="view-first-title">类型</td>
        <td class="view-top-right-text">$value[attribute_type]</td>
	
	
	    <td class="view-first-title">是否锁定</td>
		<!--{if $_SGLOBAL['supe_username'] =="admin"}-->
        <td class="view-top-right-text" bgcolor="#6699FF">
		
		
		  否<input type="radio" name="islock" id="islock_0" value="0"  $islock_checked_atrr[0]/>
          
          是<input type="radio" name="islock" id="islock_1" value="1"  $islock_checked_atrr[1]/>
          
		  
		 <input value="保存" class="webButton" type="submit">
		 <!--{else}-->
		 $value[str_islock]
		 <!--{/if}-->	
		</td>
	
		

		
	 </tr>
	 
	  <tr>	
        <td class="view-title">是否对接</td>
        <td class="view-text">$value[interface_flag]</td>
      
	    <td class="view-title">允许售卖</td>
        <td class="view-text">$value[allow_sell]</td>
    </tr>
	
    <tr>

        <td class="view-title">险种</td>
        <td class="view-right-text" colspan="3">$value[ins_type_name]</td>
		
		
    </tr>
	
	<tr>
		
		 <td class="view-title">总服务费率</td>
        <td class="view-text">$value[rate_total]
		<span>%</span>
		</td>

		<td class="view-title">个人服务费率</td>
        <td class="view-text">$value[rate_myself]
		<span>%</span>
		</td>
    </tr>
	
	 <tr>
		
		 <td class="view-title">机构服务费率</td>
        <td class="view-text">$value[rate_organization]
		<span>%</span>
		</td>

        <td class="view-title">推荐服务费率</td>
        <td class="view-text">$value[rate_recommend]
		<span>%</span>
		</td>
    </tr>
	
	
	<tr>
		
		 <td class="view-title">合作伙伴代码</td>
        <td class="view-text">$value[partner_code]
		</td>
		
		 <td class="view-title">生效延迟期</td>
        <td class="view-text">$value[start_day]  天</td>
		
		

    </tr>
	
	

	
	
	
	<tr>
    	<!-- yes123 2014-11-11 添加适用范围字段 -->
	  <td class="view-title">适用范围</td>
        <td class="view-right-text" colspan="3">$value[apply_scope]</td>
    </tr>
	
	  <td class="view-title">共保</td>
        <td class="view-right-text" colspan="3">$value[is_electronic_policy]</td>
    </tr>
	
    <tr>
    
	  <td class="view-title">产品简介</td>
        <td class="view-right-text" colspan="3">$value[description]</td>
      
    </tr>
	
	    <tr>
		
		  <td class="view-title">投保限制</td>
        <td class="view-right-text" colspan="3">$value[limit_note]</td>
		
	
    </tr>
	
     <tr>
	
	  <td class="view-title">投保须知</td>
        <td class="view-right-text" colspan="3">$value[cover_note]</td>

    </tr>
	
	 
	 <tr>
	
	  <td class="view-title">理赔指南</td>
        <td class="view-right-text" colspan="3">$value[claims_guide]</td>

    </tr>
	
	 <tr>
	
	  <td class="view-title">保险条款</td>
        <td class="view-right-text" colspan="3">$value[insurance_clauses]</td>

    </tr>
	

	
</tbody></table>

</form>	

<!--{if $list_product_influencingfactor}-->
<table class="view-table">
    <tbody>
	<tr>
        <td colspan="6" class="view-header">保费影响因素</td>
    </tr>
    <tr class="listTitle">
        <td class="list-first-title" width="5%">序号</td>
        <td class="list-title" width="25%">类型</td>
        <td class="list-title" width="10%">名称</td>
		 <td class="list-title" width="10%">修改</td>
		  <td class="list-title" width="10%">删除</td>
    </tr>
    
	<!--{loop $list_product_influencingfactor $key $valued}-->
    
    <tr class="tdContent">
	
	 	<td class="list-first-content">$valued[product_influencingfactor_id]</td>
	 
	    <td class="list-first-content">$valued[product_influencingfactor_type]</td>
        <td class="list-first-content">$valued[factor_name]</td>
      
      
	  <td class="list-content">
	  <a href="cp.php?ac=admin_insurance_product_influencingfactor&product_influencingfactor_id=$valued[product_influencingfactor_id]">修改</a>
	  </td>
	  
	  <td class="list-content">
	  <a href="cp.php?ac=admin_insurance_product_influencingfactor&product_influencingfactor_id=$valued[product_influencingfactor_id]&op=delete">删除</a>
	  </td>
	  
    </tr>
    
    
    <!--{/loop}-->
     
    
</tbody></table>
<!--{/if}-->

<form name="insuranceKindForm" method="POST" action="cp.php?ac=admin_insurance_product_attribute&attribute_id=$attribute_id">


<input type="hidden" name="product_order_submit" id="product_order_submit" value="true" />
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />

<table class="view-table">
    <tbody>
	<tr>
        <td colspan="3" class="view-header">产品列表
		<a href="cp.php?ac=admin_insurance_product&attribute_id=$attribute_id" style="float:right;">增加产品 </a>
		</td>
	
	</tr>
	<tr>
         <td class="list-title">产品代码</td>
		 <td class="list-title">产品名称</td>
		 <td class="list-title">显示顺序</td>
    </tr>
	<!--{loop $list_product $key $value}-->
    <tr>
        <td class="list-content"><a href="space.php?do=admin_insurance_product&product_id=$value[product_id]">$value[product_code]</a></td>
        <td class="list-content">$value[product_name]</td>
		
		<td class="list-content">	
			<input name="view_order_ids[{$value[product_id]}]" id="view_order" value="$value[view_order]" type="text">		
			</td>

    </tr>
	 <!--{/loop}-->
	 
	 	<tr>
		    <td class="buttons">
                <input value="保存" class="webButton" type="submit">
              
            </td>
	</tr>   
	
</tbody>
</table>
</form>

                <table class="view-table">
                    <tbody><tr>
                        <td colspan="4" class="view-header">元数据信息</td>
                    </tr>
                    <tr>
                        <td class="view-first-title">状态标志</td>
                        <td class="view-first-text">
                            正常
                            
                            
                        </td>
                        <td class="view-first-title">操作人</td>
                        <td class="view-top-right-text">$value[username]</td>
                    </tr>
                    <tr>
                        <td class="view-title">创建时间</td>
                        <td class="view-text">$value[dateline_create]</td>
                        <td class="view-title">更新时间</td>
                        <td class="view-top-right-text">$value[dateline_update]</td>
                    </tr>
                    <tr>
                        <td class="view-title">显示序号</td>
                        <td class="view-text">1001</td>
                        <td class="view-title">备注信息</td>
                        <td class="view-right-text"></td>
                    </tr>
                </tbody></table>
				
            </div>
        </div>
    </div>

</div>



</div> <!--id="main-content"-->
 
 <!--{template footer}-->