<!--{template header}-->

	
		
	<div id="navigation" class="center">	
		
		<div class="ft_l">
    <h2><img src="image/menu.png"></h2>
    <ul class="tit">
      <li class="mod_cate">
        <h4><a href="#" target="_blank">汽车保险</a></h4>
        <div style="display: none;" class="mod_subcate">
          <div class="mod_subcate_main">
            <dl>
              <dt><a href="#" target="_blank">栏目名称</a></dt>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
            </dl>
          </div>
        </div>
      </li>
      <li class="mod_cate">
        <h4><a href="#" target="_blank">旅游保险</a></h4>
        <div style="display: none;" class="mod_subcate">
          <div class="mod_subcate_main">
            <dl>
              <dt><a href="#" target="_blank">栏目名称</a></dt>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
            </dl>
          </div>
        </div>
      </li>
      <li class="mod_cate">
        <h4><a href="#" target="_blank">意外保险</a></h4>
        <div style="display: none;" class="mod_subcate">
          <div class="mod_subcate_main">
            <dl>
              <dt><a href="#" target="_blank">栏目名称</a></dt>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
            </dl>
          </div>
        </div>
      </li>
      <li class="mod_cate">
        <h4><a href="#" target="_blank">健康保险</a></h4>
        <div style="display: none;" class="mod_subcate">
          <div class="mod_subcate_main">
            <dl>
              <dt><a href="#" target="_blank">栏目名称</a></dt>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
            </dl>
          </div>
        </div>
      </li>
      <li class="mod_cate">
        <h4><a href="#" target="_blank">财产保险</a></h4>
        <div style="display: none;" class="mod_subcate">
          <div class="mod_subcate_main">
            <dl>
              <dt><a href="#" target="_blank">栏目名称</a></dt>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
            </dl>
          </div>
        </div>
      </li>
      <li class="mod_cate">
        <h4><a href="#" target="_blank">少儿女性</a></h4>
        <div class="mod_subcate">
          <div class="mod_subcate_main">
            <dl>
              <dt><a href="#" target="_blank">栏目名称</a></dt>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
              <dd><a class="org" href="#" title="">二级分类</a></dd>
            </dl>
          </div>
        </div>
      </li>
    </ul>
	
	
	
	<div class="r_box" style="margin-top:1opx;">
        <h3><img src="image/menu01.jpg" height="20" width="145"></h3>
        <p><a href="#"><img src="#" height="66px" width="186px"></a></p>
        <ul>
          <li><a href="#" title="成亚芳湖北武汉平安保险">成亚芳湖北武汉平安保险</a></li>
          <li><a href="#" title="成亚芳湖北武汉平安保险">成亚芳湖北武汉平安保险</a></li>
          <li><a href="#" title="成亚芳湖北武汉平安保险">成亚芳湖北武汉平安保险</a></li>
          <li><a href="#" title="成亚芳湖北武汉平安保险">成亚芳湖北武汉平安保险</a></li>
          <li><a href="#" title="成亚芳湖北武汉平安保险">成亚芳湖北武汉平安保险</a></li>
          <li><a href="#" title="成亚芳湖北武汉平安保险">成亚芳湖北武汉平安保险</a></li>
          <li><a href="#" title="成亚芳湖北武汉平安保险">成亚芳湖北武汉平安保险</a></li>
          <li><a href="#" title="成亚芳湖北武汉平安保险">成亚芳湖北武汉平安保险</a></li>
          <li><a href="#" title="成亚芳湖北武汉平安保险">成亚芳湖北武汉平安保险</a></li>
          <li><a href="#" title="成亚芳湖北武汉平安保险">成亚芳湖北武汉平安保险</a></li>
        </ul>
      </div>
	  <!--r_box-->
	
	
  </div>
  
  <!--ft_l-->
  
  
  
  <div class="ft_r">
    <div class="sec_menu">
      <h2>展业培训</h2>
      <span><a href="#" title="">更多&gt;&gt;</a></span></div>
    <div class="img_lis">
      <ul>
        <li>
          <p><a href="#"><img src="image/ad.jpg" height="117" width="227"></a></p>
          <h4><a href="#">过马路存隐患你给孩子买意外险了吗？</a></h4>
          <div class="content">平时是否有教孩子怎么过马路呢？是否背后观察过孩子是怎么..</div>
        </li>
        <li>
          <p><a href="#"><img src="image/ad.jpg" height="117" width="227"></a></p>
          <h4><a href="#">过马路存隐患你给孩子买意外险了吗？</a></h4>
          <div class="content">平时是否有教孩子怎么过马路呢？是否背后观察过孩子是怎么..</div>
        </li>
        <li>
          <p><a href="#"><img src="image/ad.jpg" height="117" width="227"></a></p>
          <h4><a href="#">过马路存隐患你给孩子买意外险了吗？</a></h4>
          <div class="content">平时是否有教孩子怎么过马路呢？是否背后观察过孩子是怎么..</div>
        </li>
<li>
          <p><a href="#"><img src="image/ad.jpg" height="117" width="227"></a></p>
          <h4><a href="#">过马路存隐患你给孩子买意外险了吗？</a></h4>
          <div class="content">平时是否有教孩子怎么过马路呢？是否背后观察过孩子是怎么..</div>
        </li>
        <li>
          <p><a href="#"><img src="image/ad.jpg" height="117" width="227"></a></p>
          <h4><a href="#">过马路存隐患你给孩子买意外险了吗？</a></h4>
          <div class="content">平时是否有教孩子怎么过马路呢？是否背后观察过孩子是怎么..</div>
        </li>
        <li>
          <p><a href="#"><img src="image/ad.jpg" height="117" width="227"></a></p>
          <h4><a href="#">过马路存隐患你给孩子买意外险了吗？</a></h4>
          <div class="content">平时是否有教孩子怎么过马路呢？是否背后观察过孩子是怎么..</div>
        </li>
      </ul>
      <div class="clearfl"></div>
    </div>
  </div>
			
			<!-- end ft_r--> 
	  
  </div>
  <!--navigation-->
	

<!--{template footer}-->