<!--{template header}-->

<div id="main-content">

<!--{template space_admin_sidebar}-->

<div id="content-body">
      <div id="toolbar">

<ul>
 
    
    <li class="button-80" onmouseover="this.className='button-over-80';" onmouseout="this.className='button-80';">
        <a href="cp.php?ac=admin_insurance_product">
		<img src="template/images/createButton.gif" alt="增加">
            增加</a>
    </li>
        
    <li class="button-80" onmouseover="this.className='button-over-80';" onmouseout="this.className='button-80';">
        <a  onclick="submit_form();">
		<img src="template/images/deleteButton.gif" alt="删除">
            删除</a>
    </li>
    
    <li>
    <!-- start modify yes123 2014-12-16 添加查询条件 -->
		<form method="get" action="space.php" style="float:left;">
			<!-- <script type="text/javascript" src="source/script_livesearch.js"></script> -->
			名称：
			<input type="text" style="width: 100px;" name="searchkey" value="$condition[searchkey]">
			
			产品代码
			<input type="text" style="width: 100px;" name="product_code" value="$condition[product_code]">
				
			保险公司
			<select name="insurer_id">
				<option></option>
				 <!--{loop $list_company $key $value}-->  
				        <option value="$value[insurer_id]"  {if $value[insurer_id] == $condition[insurer_id] } selected="selected" {/if}>$value[insurer_name]</option>  
	     		 <!--{/loop}--> 
			</select>
			
			
			<input name="searchsubmit" value="搜索" class="submit" type="submit">
			<input name="searchmode" value="1" type="hidden">
			<input name="do" value="admin_insurance_product" type="hidden">
			<input name="view" value="insurance_product" type="hidden">
			<!-- <input name="searchkey" id="searchkey" value="" size="40" class="t_input" type="text" style="float:left;width:100px;"> -->
			
			</form>	
	   <!-- end modify yes123 2014-12-16 添加	-->
    </li>
      
    <li class="button-80" onmouseover="this.className='button-over-80';" onmouseout="this.className='button-80';">
        <a href="javascript:submitUpdateAction(document.forms[0], '/insuranceKindAction.do?method=prepare&amp;action=importData')" target="_self"><img src="template/images/exportButton.gif" alt="上传附件">
            上传附件</a>
    </li>
 
    <li class="button-80" onmouseover="this.className='button-over-80';" onmouseout="this.className='button-80';">
        <a href="javascript:submitUpdateAction(document.forms[0], '/insuranceKindPropAction.do?method=prepare&amp;action=insProp')" target="_self"><img src="template/images/dateButton.gif" alt="接口属性">
            接口属性</a>
    </li>
    
    <li class="button-80" onmouseover="this.className='button-over-80';" onmouseout="this.className='button-80';">
        <a href="javascript:submitUpdateAction(document.forms[0], '/insuranceKindSaveInsuranceRateAction.do?method=prepare&amp;action=saveInsuranceRate')" target="_self"><img src="template/images/applyButton.gif" alt="设置费率">
            设置费率</a>
    </li>
    
    <li class="button-80" onmouseover="this.className='button-over-80';" onmouseout="this.className='button-80';">
        <a href="javascript:submitUpdateAction(document.forms[0], '/insuranceKindSaveInsuranceSchemaAction.do?method=prepare&amp;action=saveInsuranceSchema')" target="_self"><img src="template/images/checkButton.gif" alt="设置保费">
            设置保费</a>
    </li>
 
    
    <li class="button-80" onmouseover="this.className='button-over-80';" onmouseout="this.className='button-80';">
        <a href="javascript:submitUpdateAction(document.forms[0], '/insuranceKindSaveInsuranceHandlingRateAction.do?method=prepare&amp;action=saveInsuranceHandlingRate')" target="_self"><img src="template/images/photoButton.gif" alt="手续费率">
            手续费率</a>
    </li>
    

    
</ul>

</div>
    <div id="error">


</div>
                                <div id="navigator">





    <div class="content">
        当前位置：
        
             
                保险产品
            
        
    </div>

</div>
                                <div id="main-body">

<script type="text/javascript">
    function selectAllCheckBox() {
        checkAllBox(document.forms['insuranceKindForm']);
    }
	
	 function submit_form() 
	 {
	   // alert("dddddddddd");
		document.getElementById('submitbutton').click();
       // checkAllBox(document.forms['productForm']);
    }
	
</script>

<form name="insuranceKindForm" method="post" action="cp.php?ac=admin_insurance_product&op=delete">
   
     <input value="保存" id="submitbutton" type="submit" style="display:none;" onclick="return confirm('本操作不可恢复，确认删除？');">
   	<input type="hidden" name="deletesubmit" id="deletesubmit" value="true" />
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	

    <div class="list">
        <div class="listData">
            <div>

<table class="listTable">
    <tbody>
	<tr class="listTitle">
        <td width="5%">序号</td>
        <td width="5%"><label><input name="checkAll" onclick="selectAllCheckBox()" type="checkbox"></label></td>
        
		<td width="10%"><a href="space.php?do=admin_insurance_product&order=product_code">产品编码</a></td>
		<!-- add yes123 2014-12-16  -->
		 <td width="30%">保险公司</td>			
      <td width="30%"><a href="space.php?do=admin_insurance_product&order=product_name">产品名称</a></td>	
					
		<td width="5%"><a href="space.php?do=admin_insurance_product&order=product_type">类型</a></td>
		
				<td width="5%"><a href="space.php?do=admin_insurance_product&order=product_type">属性类型</a></td>
       
	 <td width="10%"><a href="space.php?do=admin_insurance_product&order=attribute_id">产品属性</a></td>
	 
	 
     
	    <td width="10%"><a href="space.php?do=admin_insurance_product&order=plan_code">产品代码</a></td>
		
		<td width="10%"><a href="space.php?do=admin_insurance_product&order=plan_name">计划名称</a></td>
		
		
	    <td width="10%"><a href="space.php?do=admin_insurance_product&order=product_abbrname">个人服务费率</a></td>
		
		
		
     
	    <td width="10%"><a href="space.php?do=admin_insurance_product&order=product_abbrname">机构服务费率</a></td>
   
   
   	    <td width="10%"><a href="space.php?do=admin_insurance_product&order=product_abbrname">推荐服务费率</a></td>
		
		
   		<td width="15%">修改</td>
		
		<td width="15%">责任</td>
   
    </tr>
    
     <!--{loop $list $key $value}-->
      
            <tr class="tdContent">
                <td>$value[product_id]</td>
                
				<td>
				<input name="ids[]" value="$value[product_id]" type="checkbox">
				</td>
                
				<td><a href="$theurl&product_id=$value[product_id]">$value[product_code]</a></td>
				
					
				<td><!-- add yes123 2014-12-16  -->
                	$value[insurer_name]
                </td>			
				<td>
                <a href="$theurl&product_id=$value[product_id]">$value[product_name]</a>
                </td>
				
                
				<td>
                $value[product_type]
                </td>
				
		     <td>
    			$value[attribute_type]
                    
            </td>
				                
		     <td>
                    
            <a href="space.php?do=admin_insurance_product_attribute&attribute_id=$value[attribute_id]">$value[attribute_name]</a>
                    
            </td>
					
			<td>
			$value[plan_code]
			</td>
			
			<td>
			$value[plan_name]
			</td>	
					                
			<td>
			$value[rate_myself]
			</td>
		
			<td>
			$value[rate_organization]
			</td>
											
			<td>
			$value[rate_recommend]
			</td>
				
				
			<td>
             <a href="cp.php?ac=admin_insurance_product&product_id=$value[product_id]" target="_self"><img src="template/images/updateButton.gif" alt="修改">
            修改</a>
             </td>
			 
			 <td>
			 
             <a href="cp.php?ac=admin_insurance_product_duty&product_id=$value[product_id]" target="_self"><img src="template/images/updateButton.gif" alt="增加责任">
			    增加责任</a>

			
			
             </td>
			 
            </tr>
      
      <!--{/loop}-->
      
        
    
</tbody></table>

</div>
        </div>
    </div>

    <div style="border-bottom: 1px solid #A5B5C0;"></div>

    <div class="page">
    $multi
    </div>
    
</form>
</div>
                            
</div> <!-- content-body -->
          
</div> <!--id="main-content -->                            

<!--{template footer}-->