<!--{template header}-->

<div id="main-content">

<div id="main-body">


<form name="careerCategoryForm" method="POST" action="/careerCategoryAction.do?method=view">
    <div id="view">
        <div id="viewData">
            <div id="viewContent">
                




<table class="view-table">
    <tbody><tr>
        <td colspan="4" class="view-header">基本信息</td>
    </tr>
    <tr>
        <td class="view-first-title">职业编码</td>
        <td class="view-first-text">$value[code]</td>
        <td class="view-first-title">职业名称</td>
        <td class="view-top-right-text">$value[name]</td>
    </tr>
    <tr>
        <td class="view-title">职业类别</td>
        <td class="view-text">一类职业</td>
        <td class="view-title">上级职业</td>
        <td class="view-text">机关团体公司</td>
    </tr>
</tbody></table>


                <table class="view-table">
                    <tbody><tr>
                        <td colspan="4" class="view-header">元数据信息</td>
                    </tr>
                    <tr>
                        <td class="view-first-title">状态标志</td>
                        <td class="view-first-text">
                            正常
                            
                            
                        </td>
                        <td class="view-first-title">操作人</td>
                        <td class="view-top-right-text"></td>
                    </tr>
                    <tr>
                        <td class="view-title">创建时间</td>
                        <td class="view-text">2014-01-30</td>
                        <td class="view-title">更新时间</td>
                        <td class="view-top-right-text">2014-01-30</td>
                    </tr>
                    <tr>
                        <td class="view-title">显示序号</td>
                        <td class="view-text">0</td>
                        <td class="view-title">备注信息</td>
                        <td class="view-right-text"></td>
                    </tr>
                </tbody></table>
            </div>
        </div>
    </div>

</form>
</div>

</div> <!--id="main-content"-->
 
 <!--{template footer}-->