<!--{template header}-->

<div id="main-content">

<div id="main-body">








<form name="insuranceSortForm" method="POST" action="/insuranceSortAction.do?method=view">
    <div id="view">
        <div id="viewData">
            <div id="viewContent">
                




<table class="view-table">
    <tbody><tr>
        <td colspan="4" class="view-header">基本信息</td>
    </tr>
    <tr>
        <td class="view-first-title">险别编码</td>
        <td class="view-first-text">$value[code]</td>
        <td class="view-first-title">险别名称</td>
        <td class="view-top-right-text">$value[name]</td>
    </tr>
    <tr>
        <td class="view-title">险别简称</td>
        <td class="view-text">$value[abbr_name]</td>
        <td class="view-title">险别上级</td>
        <td class="view-right-text">客运民航班机身故、残疾</td>
    </tr>
    <tr>
        <td class="view-title">保险产品信息</td>
        <td class="view-right-text" colspan="3">平安短期团体意外伤害保险</td>
    </tr>
    <tr>
        <td class="view-title">险别简介</td>
        <td class="view-right-text" colspan="3"></td>
    </tr>
</tbody></table>






    <table class="view-table">
        <tbody><tr>
            <td colspan="4" class="view-header">保险方案</td>
        </tr>
        <tr class="listTitle">
            <td class="list-first-title" width="5%">序号</td>
            <td class="list-title" width="30%">职业大类</td>
            <td class="list-title" width="30%">保费</td>
            <td class="list-title" width="35%">保险金额</td>
        </tr>
        
        
        <tr class="tdContent">
            <td class="list-first-content">1</td>
            <td class="list-content"></td>
            <td class="list-content">5.00</td>
            <td class="list-content">100000.00</td>
        </tr>
        
        
        
        <tr class="tdContent">
            <td class="list-first-content">2</td>
            <td class="list-content"></td>
            <td class="list-content">10.00</td>
            <td class="list-content">200000.00</td>
        </tr>
        
        
        
        <tr class="tdContent">
            <td class="list-first-content">3</td>
            <td class="list-content"></td>
            <td class="list-content">15.00</td>
            <td class="list-content">300000.00</td>
        </tr>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </tbody></table>



                <table class="view-table">
                    <tbody><tr>
                        <td colspan="4" class="view-header">元数据信息</td>
                    </tr>
                    <tr>
                        <td class="view-first-title">状态标志</td>
                        <td class="view-first-text">
                            正常
                            
                            
                        </td>
                        <td class="view-first-title">操作人</td>
                        <td class="view-top-right-text">超级用户</td>
                    </tr>
                    <tr>
                        <td class="view-title">创建时间</td>
                        <td class="view-text">2014-01-22</td>
                        <td class="view-title">更新时间</td>
                        <td class="view-top-right-text">2014-01-22</td>
                    </tr>
                    <tr>
                        <td class="view-title">显示序号</td>
                        <td class="view-text">4</td>
                        <td class="view-title">备注信息</td>
                        <td class="view-right-text"></td>
                    </tr>
                </tbody></table>
            </div>
        </div>
    </div>

</form>
</div>


</div> <!--id="main-content"-->
 
 <!--{template footer}-->