@charset "utf-8";
#content{background-image:url(bg.png);}
#contentBody{height:530px;width:1000px;margin:auto;padding-top:20px;}
#contentBodyBox{background-color:#FFF;padding:50px;height:430px;}

.errorTxt{text-align:center;font-size:32px;font-weight:bold;padding-top:140px;}
.errorTip{text-align:center;color:#666;}