@charset "utf-8";
body,td,th,input,textarea{font-family:Tahoma,Verdana,Geneva,sans-serif;font-size:12px;line-height:1.7;}
body,html{margin:0;overflow:hidden;background-color:#262626;color:#878787;}
form{margin:0;padding:0;}

#logo{background-image:url(filiant.png);background-repeat:no-repeat;background-position:center bottom;padding-top:230px;}
#box{background-color:#1C1C1C;padding:20px;margin:10px auto auto;width:270px;border-radius:10px;text-align:center;}
#bottom{text-align:center;margin-top:20px;}
#bottom a{color:#878787 !important;}

#header{background-image:url(filiant.png);background-repeat:no-repeat;height:70px;padding-left:170px;background-position:10px center;border-bottom:1px solid #1C1C1C;}
#header a{display:inline-block;height:70px;color:#FFF;text-decoration:none;font-size:14px;line-height:70px;padding:0 30px;}
#header a:hover{background-color:#1C1C1C;}
#header .select{background-color:#1C1C1C;}
#leftNavList div{display:none;}
#leftNavList a{display:block;padding:10px 15px;color:#FFF;text-decoration:none;}
#leftNavList a:hover{background-color:#1C1C1C;}
#leftNavList .select{background-color:#1C1C1C;}

#mask{position:absolute;background-color:#000;width:100%;height:100%;left:0;top:0;display:none;}

.indexText{background-color:#E0E0E0;border:none 0;outline:0 none;width:210px;padding:5px;border-radius:5px;}
.indexBtn{background-color:#1193C6;background:-moz-linear-gradient(top,#13A5DD,#1087B5);background:-webkit-gradient(linear,0 0,0 100%,from(#13A5DD),to(#1087B5));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#13A5DD',endColorstr='#1087B5');border:solid 1px #49BAE6;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;color:#FFF;padding:4px 16px;cursor:pointer;}
.indexBtnHover{background-color:#2EB6EA;background:-moz-linear-gradient(top,#39BFF3,#25AEE3);background:-webkit-gradient(linear,0 0,0 100%,from(#39BFF3),to(#25AEE3));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#39BFF3',endColorstr='#25AEE3');}

.window{position:absolute;left:200px;top:200px;box-shadow:0 0 5px rgba(0, 0, 0, 0.3);background-color:#FFF;color:#333333;border:1px solid #666666;display:none;}
.windowContent{padding:20px;}
.windowBottom{background-color:#F4F5F6;border-top:solid 1px #DCDEE0;padding:20px;text-align:center;}
.windowMask{background-color:#000;left:0;top:0;position:absolute;display:none;}

.button{display:inline-block;height:35px;line-height:30px;background-image:url(button-bg-gray.png);color:#333333 !important;padding:0 25px;position:relative;text-decoration:none;}
.button:hover{text-decoration:none;background-position:0 -35px;}
.button:active{background-position:0 -70px;}
.button i{display:block;position:absolute;background-image:url(button-bg-gray.png);background-position:right 0;right:0;top:0;width:10px;height:35px;}
.button:hover i{background-position:right -35px;}
.button:active i{background-position:right -70px;}

.sTable td{padding-top:10px;}
.sTable .textbox{border:1px solid #DCDEE0;padding:5px;}