<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>微信保险详情</title>
<link rel="stylesheet" href="css/reset.css" type="text/css" />
<link rel="stylesheet" href="css/information.css" type="text/css" />
</head>
 
<body style="background:#fafafa;">
    <div class="policy-holder">
        <div class="title">
            <p>投保人信息：</p>
        </div>
        <div class="cont">
            <table width="100%">
                <tbody>
                    <tr>
                        <td width="40%" align="right">姓名：</td>
                        <td width="60%"><input type="text" value="" class="int"></td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">性别：</td>
                        <td width="60%">
                            <input type="radio" name="sex" value="male" /> 女
                            <input type="radio" name="sex" value="male" /> 男
                        </td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">证件类型：</td>
                        <td width="60%">
                            <select>
                                <option>身份证</option>
                                <option>护照</option>
                                <option>军官证</option>
                                <option>驾驶证</option>
                                <option>港澳回乡证或台胞证</option>
                                <option>其他</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">证件号码：</td>
                        <td width="60%"><input type="text" value="身份证使用*代替X" class="int"></td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">出生日期：</td>
                        <td width="60%"><input type="text" value="" class="int"></td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">邮箱：</td>
                        <td width="60%"><input type="text" value="用于接收电子保单" class="int"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="policy-holder">
        <div class="title">
            <p>被保人信息：</p>
        </div>
        <div class="cont">
            <table width="100%">
                <tbody>
                    <tr>
                        <td width="40%" align="right">姓名：</td>
                        <td width="60%"><input type="text" value="" class="int"></td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">性别：</td>
                        <td width="60%">
                            <input type="radio" name="sex" value="male" /> 女
                            <input type="radio" name="sex" value="male" /> 男
                        </td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">证件类型：</td>
                        <td width="60%">
                            <select>
                                <option>身份证</option>
                                <option>护照</option>
                                <option>军官证</option>
                                <option>驾驶证</option>
                                <option>港澳回乡证或台胞证</option>
                                <option>其他</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">证件号码：</td>
                        <td width="60%"><input type="text" value="身份证使用*代替X" class="int"></td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">出生日期：</td>
                        <td width="60%"><input type="text" value="" class="int"></td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">选择起保日期：</td>
                        <td width="60%"><input type="text" value="" class="start">&nbsp;——<input type="text" value="" class="end"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="true">
        <a href="" class="insured">立即投保</a>
    </div>
</body>
</html>

