<!--{template header}-->

<div id="simple_wrapper">

<!--{if $step==1 }-->

<!--{template cp_product_buy_pingan_yiwai_ertongB_step1}-->

<!--{elseif $step==2 }-->

<!--{template cp_product_buy_pingan_yiwai_ertongB_step2}-->

<!--{elseif $step==3 }-->

<!--{template cp_product_buy_pingan_yiwai_ertongB_step3}-->

<!--{elseif $step==4 }-->

<!--{template cp_product_buy_pingan_yiwai_ertongB_step4}-->

<!--{elseif $step==5 }-->


<!--{/if}-->

</div> <!-- simple_wrapper -->

<!--{template footer}-->