<div id="main">
		<!--{kefu}-->
		<div id="kefu">
			<div id="kefurexian" style="right: 1px; top: 60px;">
                <!-- <a href="#" title="在线客服" otype="button" otitle="在线客服" class="flat_zxke" onclick="window.open('http://b.qq.com/webc.htm?new=0&sid=800023223&eid=2188z8p8p8p8K8P8K8K8P&o=shop.pingan.com&q=7', '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');return false;"></a>-->
                <iframe marginwidth="0px" marginheight="0" src="https://www.pingan.com/pa18shopahhs/property/ClientService/payInfoService.jsp?applyPolicyNos=50220001900176350053&amp;pageId=pay" frameborder="0" height="110px" scrolling="no" width="30px"></iframe>
         	</div>
		</div>
		<!--{navigation}-->
		


<div class="m_a" id="nav_main">
	<div class="ps_ll"></div>
	<div class="ps_rr"></div>
	
		
		
		
		
		
		
		
			<ul id="step_2" class="c nav_step">
				<li><span class="left_stepfirst"><span class="right_stepfirst"><span class="bg_num">1</span><span class="text">填写保单信息</span></span></span></li>
				<li class="focus"><span class="left_step"><span class="right_step"><span class="bg_num">2</span><span class="text">支付保费</span></span></span></li>
				<li><span class="left_step"><span class="right_step"><span class="bg_num">3</span><span class="text">卡片激活</span></span></span></li>
				<li><span class="left_step"><span class="right_step"><span class="bg_num">4</span><span class="text">填写被保险人资料</span></span></span></li>
				<li class="last_step"><span class="right_steplast"><span class="left_steplast"><span class="bg_num">5</span><span class="text">保单生效</span></span></span></li>
			</ul>
		
		
		
		
</div>
		<!--{content_box}-->
		<div class="content_box m_a">
						
						
<input name="mediaSourceName" id="mediaSourceName" value="direct" type="hidden">
<input name="offerComeFrom" id="offerComeFrom" value="" type="hidden">
<input name="itemAmounts" id="itemAmounts" value="" type="hidden">
<input name="itemOrderNos" id="itemOrderNos" value="201400023701637" type="hidden">
<input name="cityCode" id="cityCode" value="" type="hidden">
<input name="provinceNo" id="provinceNo" value="" type="hidden">
<input name="systemCode" id="systemCode" value="" type="hidden">
<input name="offerUrl" id="offerUrl" value="https://www.pingan.com/ebusiness/advert/matchAdvert.do" type="hidden">
<input name="mediaOrderUrl" id="mediaOrderUrl" value="" type="hidden">
<input name="cardId" id="cardId" value="38" type="hidden">
<input name="isWltPay" id="isWltPay" value="false" type="hidden">

<!-- 访问银行的参数,只提交从shop接口返回的参数 -->
<form name="payForm" id="payForm" method="post" action="">
	<input name="paySeqNo" id="_paySeqNo" value="" type="hidden"><!-- 支付流水号 -->
	<input name="bankSeqNo" id="bankSeqNo" value="" type="hidden"><!-- 银行流水号 -->
	<input name="payPremium" id="payPremium" value="200.0" type="hidden">
	<!-- wlt -->
	<input name="wltPaymentSum" id="wltPaymentSumhden" value="" type="hidden">
</form>

<form name="actionform" method="post" action="./submitCreditCardPay.do" id="actionform">
	<input name="paySeqNo" id="paySeqNo" value="201400012243712" type="hidden">
	<input name="bill99BusinessType" id="bill99BusinessType" value="" type="hidden">
	<input name="extRate" id="extRate" value="" type="hidden">
	<input name="termInMonths" id="termInMonths" value="0" type="hidden"><!-- 非车没有分期， -->
	
	<input id="comeFrom" name="comeFrom" value="" type="hidden">
	<input id="flowId" name="flowId" value="XF18QKUJ6L9BSGYH" type="hidden">
	<input id="orderNos" name="orderNos" value="201400023701637" type="hidden">
	
	<!-- {content} -->
	<div class="content">
		






<style type="text/css">
.por_qipao .container {width:425px; top:-15px;}
</style>
	<div id="orderInfo">
	<p class="font14">
		
			
			
			您的订单已成功提交，请尽快付款。
		
	</p>
	</div>
	<div class="ml20" id="showContent" style="display:none;"><p class="font14">您的订单已成功提交，距离<span style="color:#FF0000"></span>保单生效日期仅剩<span style="color:#FF0000"></span>分钟了，为保障您的权益让保单及时生效，请在<span style="color:#FF0000">今天23:59</span>前完成网上支付。</p></div>
	<div class="bg_ta">
		<table class="table_a" cellpadding="0" cellspacing="0" width="100%">
			<tbody><tr>
				<td class="ml10"><strong>产品名称</strong></td>
				<td class="tac" width="25%"><strong>订单创建时间</strong></td>
				<td class="tac" width="30%"><strong>订单金额</strong></td>
			</tr>
			
			
			<!--真实数据foreach出来 目前相关list名只是乱填的-->
			
			
			
			
			





			
			
			
	
			
			
			
			
			
			
			
			
			<!-- 以下是新架构产品的设置 设置一个 newFlag标志位，默认false代表老架构产品，如果是新架构的产品，再赋值为ture覆盖-->
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
		    
			
		    
		    
		    
		    
		    
		    
			<tr>
				<td class="tal ml10"><span style="float:left">少儿安康卡E款</span><!--产品名称-->
					<div style="display:none;" showtype="showType">
					<div class="por_qipao" style="display:inline; float:right;">
						
						
							
								
							
						
						
							
								
									<a title="订单" href="http://www.pingan.com/pa18shopahhs/property/Sics/applyPolicyPreview.jsp?seriesNo=13&amp;productCode=11395&amp;applyPolicyNo=50220001900176350053&amp;orderNo=201400023701637&amp;flowId=XF18QKUJ6L9BSGYH&amp;leavePage=&amp;isPayment=1" target="_blank" otype="button" otitle="详细订单" class="ec7823 btnDingDan btn">详细订单</a>
								
								
								
								
							
						
						
					</div>
					</div>
			   </td>
			   <td class="tac">2014-05-23</td><!--订单创建时间-->
			   <td class="tac ec7823"><strong>200.00<!--订单总额--></strong></td>
			</tr>						
			
			
			<tr class="bbn">
				<td></td>
				<td></td>
				<td class="tar"><p class="mr50"><strong>总计：<span class="ec7823">200.00</span> 元</strong></p></td>
			</tr>  
		</tbody></table>
	</div>
	<div class="ml20 mt4" id="newcar_zhifua_Msg" style="display:none;"></div><!--{OFFER}-->
	<script type="text/javascript">
		/**
		*	页面dom结构加载完
		*/
		$(function(){
			$('.btnDingDan').bind("click",function(){
				$(".container").hide();
				$(this).next(".container").show();
			});
			$('.btnClosePao').bind("click",function(){
				$(this).parents(".container").hide();
			});
			//ajax 判断是否用户登录，没有登录用户不用显示订单详情
			queryApplicantInfoForPay();
			
		});

function queryApplicantInfoForPay(){
	var param ={
			random : Math.random(),
			isQueryUser: true
	};
	var uri = pa.webUrl + "/customer/query-user-info.ajax";
	
	$.ajax({
	    type:"get",
	    url:uri,
	    data:param,
	    dataType:"json",
	    success:function(s){
	    	//未登录
	    	
			if(s == null || (typeof s == "string" && (s == "NOT_LOGON" || s == "OTHER_EXCEPTION" || s == ""))||s.resultCode != "0"){
			/**resultCode=0，用户登录成功，resultCode=1，用户登录失败，resultCode=102，未登陆，resultCode=105,系统异常*/
				//$('#orderDetailLink1').hide();
				$.each($("div[showType='showType']"), function(i, obj){
  					$(obj).hide();
				}); 
				
			}else{
				//已经登录
				//alert("111="+s);
				$.each($("div[showType='showType']"), function(i, obj){
  					$(obj).show();
				}); 
				
			}
			
	    },
	    error:function(){
	    	alert("111");
	    }
	});
}		
	</script>
	</div>
	<div id="ahhs_zhifua_Msg" class="ml20 mt4" style="display:none;"></div>
	<!-- {content_a} -->
	<div class="content_a">
		<div class="bgright">
			<div class="bor_a">
				<div class="bgtop c">
					<div class="con_b c">
						<!-- {con_left} -->
						<div class="con_left">
							<table class="c_t_a c_t_a_pt0" cellpadding="0" cellspacing="1" border="0" width="100%">
								
								<tbody><tr class="">
									
									<th class="tar">您选择：</th>
									
									<td colspan="2">
										<p><img src="https://script.pingancdn.com/app_series/shop/shop/payment/images/bank/0011.jpg" alt="" cardid="0011" id="bank_logo" title="" class="vam img_b" style="width:123px;height:30px;"><strong class="vam m_b">信用卡</strong></p>
										<input name="creditCardId" class="input_a" id="creditCardId" value="0011" type="hidden">
									</td>
									
								</tr>
								
								
								
								<tr valign="top">
									<th class="tar" width="24%">卡号</th>
									<td style="" width="39%">
										<div class="por">
											<input name="creditCardNo" class="input_a pa_ui_element_normal" id="cardNo" maxlength="23" otitle="卡号" type="text">
											<div class="xyk_con" style="display:none;">
												<div class="xyk_a"><div class="xyk_zm"></div></div><s><i></i></s>
											</div>
										</div>
									</td>
									<td width="37%"><div id="cardNo_tips"><div style="display: none;" class="pa_ui_valid_tip"></div></div></td>
								</tr>
								
								
								
								<tr>
									<th class="tar">信用卡有效期</th>
									<td id="month_td"><div class="" id="card_valid">
										<select class="pa_ui_element_normal" name="creditCardValidMonth" id="month" style="width: 60px; display: none;" otitle="有效期月">
											<option value="" selected="">请选择</option>
											<option value="01">1</option>
											<option value="02">2</option>
											<option value="03">3</option>
											<option value="04">4</option>
											<option value="05">5</option>
											<option value="06">6</option>
											<option value="07">7</option>
											<option value="08">8</option>
											<option value="09">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
										</select><input otitle="有效期月" readonly="" style="width: 42px;" class="ddlinput pa_ui_element_normal" type="text"><button style="" otitle="有效期月" type="button" class="ddlbtn"></button>月&nbsp;
										<select class="pa_ui_element_normal" name="creditCardValidYear" id="year" style="width: 60px; display: none;" otitle="有效期年">
											<option value="" selected="">请选择</option>
											<option value="14">2014</option>
											<option value="15">2015</option>
											<option value="16">2016</option>
											<option value="17">2017</option>
											<option value="18">2018</option>
											<option value="19">2019</option>
											<option value="20">2020</option>
											<option value="21">2021</option>
											<option value="22">2022</option>
											<option value="23">2023</option>
											<option value="24">2024</option>
										</select><input otitle="有效期年" readonly="" style="width: 42px;" class="ddlinput pa_ui_element_normal" type="text"><button style="" otitle="有效期年" type="button" class="ddlbtn"></button>年</div>
									</td>
									<td><div id="month_tips"><div style="display: none;" class="pa_ui_valid_tip"></div></div></td>
								</tr>
								
								
								
								<tr>
									<th class="tar">签名处后三位数字</th>
									<td>
										<div class="por">
											<input name="cVV" id="cvv2" class="input_a pa_ui_element_normal" maxlength="3" otitle="安全码" type="text">
											<div class="xyk_con01" style="display:none;">
												<div class="xyk_a"><div class="xyk_bm"></div></div><s><i></i></s>
											</div>
										</div>
									</td>
									<td><div id="cvv2_tips"><div style="display: none;" class="pa_ui_valid_tip"></div></div></td>
								</tr>
								
								
								
								<tr>
									<th class="tar">办卡证件类型</th>
									<td id="cardType_td">
										<!-- 上海农商行和江苏银行只支持身份证 -->
										<select name="certType" id="cardType" class="" style="width: 170px; display: none;" otitle="证件类型" bakvalue="">
											
												<option value="">请选择</option>
												
													
													
													
													
														
														
															<option value="3">士兵证</option>
														
													
												
													
													
													
													
														
														
															<option value="2">军官证</option>
														
													
												
													
													
													
													
														
														
															<option value="1">护照</option>
														
													
												
													
													
													
													
														
															<option value="0" selected="">身份证</option>
														
														
													
												
													
													
													
													
														
														
															<option value="6">户口本</option>
														
													
												
													
													
													
													
														
														
															<option value="4">港澳通行证</option>
														
													
												
													
													
													
													
														
														
															<option value="18">台胞证</option>
														
													
												
													
													
													
													
														
														
															<option value="9">警官证</option>
														
													
												
											
											
										</select><input otitle="证件类型" readonly="" style="width: 152px;" class="ddlinput" type="text"><button style="" otitle="证件类型" type="button" class="ddlbtn"></button>
									</td>
									<td>
										<div id="cardType_qipao" class="box_qipao" style="display:none;">
											<div class="box_container"><p>请填写您申请信用卡时，提交给银行的相关证件类型，如身份证、护照、军官证等。</p></div>
											<span class="box_qipao_btm"><span class="box_qipao_top"></span></span>
										</div>
									</td>
								</tr>
								<tr>
									<th class="tar">办卡证件号码</th>
									<td><div style="position: relative; height: 16px;"><div style="position:absolute;z-index:2;top:0"><input style="" name="certId" id="cardHolderId" value="" class="input_a pa_ui_element_normal exinput_bg" maxlength="30" otitle="证件号码" type="text"><div style="position: absolute; left: 1px; top: 2px; height: 20px; width: 167px; line-height: 20px;" class="pa_ui_input_splitter_box"></div></div></div></td>
									<td>
										<div class="tipCard"></div>
										<div id="username_tip02" class="pt4"><div style="display: none;" class="pa_ui_valid_tip"></div></div>
										<div id="cardHolderId_qipao" class="box_qipao" style="display:none;">
											<div class="box_container">
												<p>请填写您申请信用卡时，提交给银行的相关证件号码，如身份证号，护照证号，军官证号等。</p>
											</div>
											<span class="box_qipao_btm"><span class="box_qipao_top"></span></span>
										</div>
									</td>
								</tr>
								
								
								
								<tr>
									<th class="tar">验证码</th>
									<td>
										<input name="randCode" id="verifyCode" class="input_a pa_ui_element_normal" style="width:55px;" maxlength="4" otitle="验证码" type="text">
										<img id="validateCodeImg" src="https://www.pingan.com/ebusiness/payment/ajax/getRandCodeImage.do" class="yanzhengma">
										<a class="f30 cur" id="btn_changeCode" otitle="换一张">换一张</a>
									</td>
									<td><div id="m5"><div style="display: none;" class="pa_ui_valid_tip"></div></div></td>
								</tr>
								<tr>
									<td></td>
									<td colspan="2">
										<div class="mt18 c">
											<a title="" id="zhifu_btn" class="zhifu_btn l" otype="button" otitle="信用卡-支付"><b class="btn_right">支付</b></a>
											<div class="ml82 pt10">
												<a id="other_pay" title="" class="a_f30 btn" otype="button" otitle="选择其他方式付款">选择其他方式付款</a>
											</div>
										</div>
										
									</td>
								</tr>
							</tbody></table>
						</div>
						
						<div class="con_right">
							<div class="icon_03"><p class="mt4"><strong>五重体系</strong></p><p><strong>全面保障您的用卡安全</strong></p></div>
							<div class="mt4">
								<p><span class="ec7823">①</span>平安金融集团的雄厚实力和诚信品牌</p>
								<p class="m_a"><span class="ec7823">②</span>合作银行授信，保证消费安全快捷</p>
								<p class="m_a"><span class="ec7823">③</span>严格遵循信用卡支付安全国际标准</p>
								<p class="m_a"><span class="ec7823">④</span>采用高技术安全的专线连接加密方式</p>
								<p class="m_a"><span class="ec7823">⑤</span>完备的风险控制及运营监控体系</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content_b">
		<div class="wenxintishi">
			<p><strong>温馨提示：</strong></p>
			<ul class="l_a">
				<li>请使用本人信用卡或已由持卡人授权的信用卡进行支付。</li>
				<li>支付前请确保您的信用卡信用余额足够支付本次保费。</li>
				<li>如有疑问，请咨询在线客服或拨打服务热线：40088-95512转2。</li>
			</ul>
		</div>
		<div class="mt4">
			<p><strong>支付遇到问题：</strong></p>
			<ul class="l_a">
				<li>通过信用卡无卡支付是否需要开通网上银行?<p>答：选择网上银行付款需要开通网上银行，选择信用卡无卡付款不需要开通网上银行。</p></li>
				<li>为什么银行卡已经扣款，但没有显示?<p>答：有可能因为网络原因导致，将在第二个工作日进行补单处理。</p></li>
				<li>如果支付失败，如何继续支付保费？ 
				<p>答：如果您因为账户余额不足等情况未能支付成功，您可以稍后通过平安网站的“网站会员专区”找回您的投保记录，继续支付。如果您还没有注册，您只要使用您购买保险时使用的email注册成为我们的网站会员，登陆找到您的购买记录即可支付。</p></li>
				<li>
					我是企业用户，可以企业网银进行支付吗？
					<p>答：支持的银行包括：工商银行，招商银行，农业银行，建设银行，中国银行。方法如下：</p>
					<p>1、请选择第三方，选择支付宝，登陆支付宝界面后，在储蓄卡栏下，选择合适的企业网上银行。</p>
					<p>2、或者选择第三方，选择财付通，登陆财付通界面后，在网上银行支付栏下，选择合适的企业网上银行。</p>
					<p>3、或者选择第三方，选择快钱，登陆快钱界面后，在企业网银栏下，选择合适的企业网上银行。</p>
				</li>
			</ul>
		</div>
	</div>
</form>




  	
			</div><!-- {content_box m_a} -->
		</div>