{if $full_page} {include file="pageheader.htm"} {insert_scripts files="../js/utils.js,listtable.js"}
<script src="../js/jquery-1.8.3.min.js"></script>
<script src="../static/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="layer/layer.min.js"></script>

<div class="form-div"> 
<form action="javascript:searchUser()" name="searchForm" id="organ_ipa_rate_list_form">
  <input type="hidden" value="organ_ipa_rate_config_list_query" name="act">
   <input type="hidden" value="{$filter.institution_id}" name="institution_id">
    <table>
	<tbody>
	<tr>
	    <td>险种名称</td><td><input type="text" name="attribute_name" /> </td>
 		<td><input type="submit" value="{$lang.button_search}" /></td>
	</tr>	
		  </tbody>
	  </table>
  </form>
</div>

<!-- 订单列表 -->
	<div class="list-div" id="listDiv">
		{/if}

		<table cellpadding="3" cellspacing="1">
			<tr>
				<th>编号</th>
				<th>险种名称</th>
				<th>合作伙伴代码</th>
				<th>总费率</th>
				<th>个人费率</th>
				<th>推荐费率</th>
				<th>渠道佣金</th>
				<th>操作</th>
			<tr>
			{foreach from=$config_list item=config key=key}
			<tr align="center">
				<td >{$config.id}</td>
				<td >{$config.attribute_name}</td>
				<td >{$config.partner_code}</td>
				<td >{$config.rate_total}</td>
				<td >{$config.rate_myself}
					{if $config.myself_enabled eq 1}
						<span style="color: red">(已启用)</span>
					{/if}
				</td>
				<td >{$config.rate_recommend}
					 {if $config.recommend_enabled eq 1}
						<span style="color: red">(已启用)</span>
					 {/if}
				</td>
				<td >{$config.rate_organization}
					 {if $config.organization_enabled eq 1}
						<span style="color: red">(已启用)</span>
					 {/if}
				</td>
				<td><a href="distributor.php?act=organ_ipa_rate_config_add&id={$config.id}&save_type=edit&d_name={$d_name}&organ_id={$filter.institution_id}" title="{$lang.edit}">
						<img src="images/icon_edit.gif" border="0" height="16" width="16" />
					</a>
					
					<a href="javascript:remove_config('{$config.institution_id}','{$config.attribute_id}');" title="{$lang.edit}">
						<img src="images/icon_drop.gif" border="0" height="16" width="16" />
					</a>
				</td>
			</tr>
			{/foreach}
		</table>

		<!-- 分页 -->
		<table id="page-table" cellspacing="0">
			<tr>
				<td align="right" nowrap="true">{include file="page.htm"}</td>
			</tr>
		</table>

	</div>


<script language="JavaScript">
listTable.query = "organ_ipa_rate_config_list_query";
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
    /**
     * 搜索
     */
    function searchUser()
    {
    	listTable.filter['attribute_name'] = Utils.trim(document.forms['searchForm'].elements['attribute_name'].value);
        listTable.filter['page'] = 1;
        listTable.loadList();
    }
	
    function remove_config(institution_id,attribute_id){
    	var str = '是否同时删除<span style="color: red;font-size: 18px;">"子渠道"</span>配置？'+
    		'<p>点击<span style="color: red;font-size: 18px;">“是”</span>删除此渠道和此渠道下所有子渠道的配置</p>'+
    		'<p>点击<span style="color: red;font-size: 18px;">“否”</span>只删除此渠道的配置</p>';
    	var lay_msg = $.layer({
    	    shade: [0],
    	    area: ['350','230'],
    	    dialog: {
    	        msg: str,
    	        btns: 2,                    
    	        type: 4,
    	        btn: ['是','否'],
    	        yes: function(){
    	    		layer.close(lay_msg);
    	    		del_config(institution_id,attribute_id,1);
    	        }, no: function(){
    	            layer.close(lay_msg);
    	            del_config(institution_id,attribute_id,0);
    	        }
    	    }
    	});
    	
    }
    
    function del_config(institution_id,attribute_id,remove_all){
    	var parm = 'institution_id='+institution_id+'&attribute_id='+attribute_id+'&remove_all='+remove_all;
        $.ajax({
        	tye:'GET',
        	url:'distributor.php?act=rate_config_remove',
        	data:parm,
        	success:function(data){
        		var obj = $.parseJSON(data);
        		if(obj.code==0){
        			alert(obj.msg);
        			location.reload();
        		}else if(obj.code==1){
        			alert(obj.msg);
        		}
        	}
        	
        });
    	
    }
		
</script>
{/literal} {include file="pagefooter.htm"} 
