{include file="pageheader.htm"}

<!--
<script src="../js/jquery-1.9.1.js"></script>
<script src="../js/jQuery-File-Upload-9.8.0/js/vendor/jquery.ui.widget.js"></script>
<script src="../js/jQuery-File-Upload-9.8.0/js/jquery.iframe-transport.js"></script>
<script src="../js/jQuery-File-Upload-9.8.0/js/jquery.fileupload.js"></script>
-->

{insert_scripts files='file_upload.js'}


{if $insurer_code=='SSBQ'}
	
{include file="policy_info_ssbq.htm"}		
{include file="attachment_list.htm"}		
	
{else}

   <!--#保单详情界面 start-->
   
       <h5><span>投保单信息</span></h5>
       <div class="blank"></div>
       <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
	   
	      <tr align="center">
		 
            <td bgcolor="#ffffff">订单id</td>
            <td bgcolor="#ffffff"><a href="order.php?act=info&order_id={$policy.order_id}">{$policy.order_id}</a></td>
			
			<td bgcolor="#ffffff">订单号</td>
            <td bgcolor="#ffffff"><a href="order.php?act=info&order_id={$policy.order_id}">{$policy.order_sn}<a></td>
			
		 </tr>
		 
	     <tr align="center">
		 
            <td bgcolor="#ffffff">投保单id</td>
            <td bgcolor="#ffffff">{$policy.policy_id}</td>
			
			<td bgcolor="#ffffff">保险公司</td>
            <td bgcolor="#ffffff">{$policy.insurer_name}</td>
			
		 </tr>
		  <!--{if $insurer_code=='picclife' && ($policy.attribute_type=='ijiankang' || $policy.attribute_type=='BWSJ')}--> 
          <tr align="center">
            <td bgcolor="#ffffff">保额</td>
            <td bgcolor="#ffffff">{$policy.apply_num}万</td>
            <td bgcolor="#ffffff">保障期间</td>
            <td bgcolor="#ffffff">{if $policy.insPeriod==30}{$policy.insPeriod}年{else}至{$policy.insPeriod}周岁{/if}</td>
          </tr>
          <tr align="center">
            <td bgcolor="#ffffff">缴费类型</td>
            <td bgcolor="#ffffff">{if $policy.payPeriod==1}一次性付清{else}年缴{/if}</td>
            <td bgcolor="#ffffff">缴费期间</td>
            <td bgcolor="#ffffff">{if $policy.payPeriod==1}一次性付清{else}{$policy.payPeriod}年{/if}</td>
          </tr>
		  <!--{/if}-->  
          <tr align="center">
            <!--{if $insurer_code=='picclife' && $policy.attribute_type=='ijiankang'}--> 
            <td bgcolor="#ffffff" class="fontbloder">投保份数</td>
            <td bgcolor="#ffffff" class="color_94">1</td>
            <!--{else}--> 
            <td bgcolor="#ffffff" class="fontbloder">投保份数</td>
            <td bgcolor="#ffffff" class="color_94">{$policy.apply_num}</td>
			<!--{/if}--> 
			<td bgcolor="#ffffff" class="fontbloder">总费用</td>
            <td bgcolor="#ffffff" class="color_94">{$policy.total_premium_str}</td>
			
          </tr>
		  
		  <!--{if $policy.business_type eq 1 }-->
          <tr align="center">
  
            <td bgcolor="#ffffff">投保人</td>
            <td bgcolor="#ffffff">{$user_info_applicant.fullname}</td>
			<!--{if $insurer_code=='NCI'}-->
            <td bgcolor="#ffffff">国籍</td>
            <td bgcolor="#ffffff">{$user_info_applicant.nation_code}</td>
          	<!--{else}-->
          	<td bgcolor="#ffffff">英文名</td>
            <td bgcolor="#ffffff">{$user_info_applicant.fullname_english}</td>
          	<!--{/if}-->
          </tr>
		  
		  <tr align="center">
  
            <td bgcolor="#ffffff">证件类型</td>
            <td bgcolor="#ffffff">{$user_info_applicant.certificates_type_str}</td>
			
			<td bgcolor="#ffffff">证件号码</td>
            <td bgcolor="#ffffff">{$user_info_applicant.certificates_code}</td>
			
          </tr>
		  
          <tr align="center">
  
  			<td bgcolor="#ffffff">性别</td>
            <td bgcolor="#ffffff">{$user_info_applicant.gender_str}</td>
		
            <td bgcolor="#ffffff">生日</td>
            <td bgcolor="#ffffff">{$user_info_applicant.birthday}</td>
			
	
          </tr>
		  
		  
		  <!--{else}-->
		    <tr align="center">
  
            <td bgcolor="#ffffff">团体投保人</td>
            <td bgcolor="#ffffff">{$user_info_applicant.group_name}</td>
			
			<td bgcolor="#ffffff">属性</td>
            <td bgcolor="#ffffff">{$user_info_applicant.company_attribute_str}</td>
			
          </tr>
		  
		  <tr align="center">
  
            <td bgcolor="#ffffff">证件类型</td>
            <td bgcolor="#ffffff">{$user_info_applicant.group_certificates_type_str}</td>
			
			<td bgcolor="#ffffff">证件号码</td>
            <td bgcolor="#ffffff">{$user_info_applicant.group_certificates_code}</td>
			
          </tr>
		   <!--{/if}-->
		   
		  <tr align="center">
  
            <td bgcolor="#ffffff">手机号码</td>
            <td bgcolor="#ffffff">{$user_info_applicant.mobiletelephone}</td>
			
			<td bgcolor="#ffffff">email</td>
            <td bgcolor="#ffffff">{$user_info_applicant.email}</td>
			
          </tr>
          
		  <!--{if $insurer_code=='NCI'}-->
          <tr align="center">
             <td bgcolor="#ffffff">证件有效期</td>
                <td bgcolor="#ffffff">{$user_info_applicant[cardValidDate]}-{if $user_info_applicant.cardExpDate}{$user_info_applicant[cardExpDate]}{else}长期{/if}</td>
                
                <td bgcolor="#ffffff">邮政编码</td>
                <td bgcolor="#ffffff">{$user_info_applicant.zipcode}</td>
          </tr>
          <tr align="center">
              <td bgcolor="#ffffff">服务机构</td>
              <td bgcolor="#ffffff">{$policy[serviceOrgCode]}</td>
              <td bgcolor="#ffffff">职业</td>
              <td bgcolor="#ffffff">{$user_info_applicant[business_type]}--{$user_info_applicant[occupationClassCode]}</td>
              
            </tr>
            <tr align="center">
              <td bgcolor="#ffffff">省市区</td>
              <td bgcolor="#ffffff">{$user_info_applicant[province_code]}{$user_info_applicant[city_code]}{$user_info_applicant[county_code]}</td>
              <td bgcolor="#ffffff">通讯地址</td>
              <td bgcolor="#ffffff">{$user_info_applicant[address]}</td>
            </tr>
          <!--{/if}-->
          <tr align="center">
            <td bgcolor="#ffffff">与投保人关系</td>
            <td bgcolor="#ffffff">{$policy.relationship_with_insured_str}</td>
            <td bgcolor="#ffffff">收益关系</td>
            <td bgcolor="#ffffff">{$policy.beneficiary_str}</td>
          </tr>
          <!--{if $attribute_type_y502 =='Y502' }-->
         <!--{foreach from=$list_subject key=sk  item=subject}--> 
         <!--{if $sk==0}-->  
         <!--{foreach from=$subject[list_subject_product] key=k  item=product}--> 
             <!--{if $k==0}-->
                 <tr align="center">
                    <td bgcolor="#ffffff" class="fontbloder">年龄范围</td>
                    <td bgcolor="#ffffff" class="color_94">{$product.age_min}岁--{$product.age_max}岁</td>
                    <td bgcolor="#ffffff" class="fontbloder">保险期限</td>
                    <td bgcolor="#ffffff" class="color_94">{$product.period}</td>
                  </tr>	
               <!--{/if}-->
           <!--{/foreach}-->
           <!--{/if}--> 
          <!--{/foreach}-->
         <!--{/if}--> 
          <tr align="center">
            <td bgcolor="#ffffff">保险起期</td>
            <td bgcolor="#ffffff">{$policy.start_date}</td>
            <td bgcolor="#ffffff">保险止期</td>
            <td bgcolor="#ffffff">{$policy.end_date}</td>
          </tr>          
        <tr align="center">
            <td bgcolor="#ffffff">保单号</td>
            <td bgcolor="#ffffff">
			<!--{if $policy.policy_no}-->
			<a href ="policy.php?act=getpolicyfile&policy_id={$policy.policy_id}" target="_blank">{$policy.policy_no}</a>
			<!--{else}-->
			
		
			
			<form id="fileupload" action="policy.php?act=policy_pdf_upload" method="POST" enctype="multipart/form-data">
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
      
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                 
            
			<input name="policy_id" id="policy_id" value="{$policy.policy_id}" type="hidden">	
			
			<span>电子保单号：</span>  
			<input type="input" name="policy_no" id="policy_no" placeholder="输入电子保单号" >
			
			<span>电子保单文件：</span>
			<input type="file" id="input_policy_pdf" name="input_policy_pdf" />
			
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>上传</span>
                </button>
				<!--
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel upload</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" class="toggle">
				-->
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
    </form>
			
			<!--{/if}-->
			</td>
            <td bgcolor="#ffffff">保单状态</td>
            <td bgcolor="#f567ff">{$policy.policy_status_str}
            	<br>
            	{$policy.refund_file_html}
            </td>
          </tr>
		  
		  <tr align="center">
            <td bgcolor="#ffffff">返回码</td>
            <td bgcolor="#ffffff">{$policy.ret_code}</td>
            <td bgcolor="#ffffff">返回信息</td>
            <td bgcolor="#f567ff">{$policy.ret_msg}</td>
          </tr>
		  <!--{if $insurer_code=='CPIC_CARGO'}-->
          <tr align="center">
            <td bgcolor="#ffffff">错误码</td>
            <td bgcolor="#f567ff" >{$policy.errorCode}</td>
            <td bgcolor="#ffffff" >错误信息</td>
            <td bgcolor="#f567ff" >{$policy.errorMsg}</td>
          </tr>
		 <!--{/if}-->
		  
		  
          <tr align="center">
            <td bgcolor="#ffffff">业务类型</td>
            <td bgcolor="#ffffff">{$policy.business_type_str}</td>
            <td bgcolor="#ffffff">代理人</td>
            <td bgcolor="#ffffff">
            	<a href="account_log.php?act=list&user_id={$policy.agent_uid}" target="_blank"> 
            		{$policy.agent_username}
            	</a>
            </td>
          </tr>
          <tr align="center">
            <td bgcolor="#ffffff">时间</td>
            <td bgcolor="#ffffff">{$policy.dateline_str}</td>
			 <td bgcolor="#ffffff">操作</td>
            
			<td bgcolor="#ffffff">
	 <!-- {if $policy.policy_status eq 'payed'} -->
			
		<!--{if $order.pay_status eq 2}-->
	<a href ="policy.php?act=insure&policy_id={$policy.policy_id}" target="_blank">投保</a>
	   <!--{/if}-->
	   <!--{if $insurer_code=='CPIC_CARGO' && ($policy.ret_code=='7' || $policy.ret_code=='15')}-->
	|<a href ="policy.php?act=querypolicyfile&policy_id={$policy.policy_id}" target="_blank">手动查询</a>  
	   <!--{/if}-->
	   
	 <!-- {elseif $policy.policy_status eq 'insured'} -->
	   <!--{if $insurer_code=='CPIC_CARGO' && ($policy.ret_code=='7' || $policy.ret_code=='15')}-->
	<a href ="policy.php?act=querypolicyfile&policy_id={$policy.policy_id}" target="_blank">手动查询</a>|  
	   <!--{/if}-->
	 <a href ="policy.php?act=getpolicyfile&policy_id={$policy.policy_id}" target="_blank">下载电子保单</a>|
	 
<!-- 	 <a href ="javascript:if (confirm('您要确定注销保单吗？')) location.href='policy.php?act=withdraw&policy_id={$policy.policy_id}&type=cancel'">注销</a>
	|<a href ="javascript:if (confirm('您确定要退保吗？')) location.href='policy.php?act=withdraw&policy_id={$policy.policy_id}&type=surrender'" >退保</a>
	  -->
	  
	  
	<!-- <a href ="policy.php?act=operation_policy&policy_id={$policy.policy_id}&type=cancel">注销</a>
	<a href ="policy.php?act=operation_policy&policy_id={$policy.policy_id}&type=surrender" >退保</a>
	 -->
	
	  
	  <!--{elseif $policy.policy_status eq 'canceled'}-->
	 
	   
	   
	 <a href ="javascript:reinsure_policy({$policy.policy_id});">修正性投保</a>
	 
	
 
	   <!--{/if}-->
	 
	 <!-- {if $policy.policy_status eq 'payed'} -->
	 	<!-- |&nbsp;&nbsp;<a href ="javascript:cancel_policy({$policy.policy_id});">取消投保单</a> -->
	 <!-- {/if} -->
	 
	 	{if $policy.policy_status neq 'canceled' && $policy.policy_status neq 'surrender'}
			<a href ="policy.php?act=operation_policy&policy_id={$policy.policy_id}" >其他操作</a>
		{/if}
		</td>
		
          
          </tr> 
		  
	
		  		  
		   <!-- {if  $policy.insurer_code eq 'TBC01'} -->
		  <tr align="center">
            <td bgcolor="#ffffff">救援状态</td>
            <td bgcolor="#ffffff">{$policy.status_jiuyuanret}</td>
            <td bgcolor="#ffffff">操作</td>
		
			 <!-- {if $policy.policy_rescue eq 1} -->
			 <td bgcolor="#ffffff"> 
			 <a href ="policy.php?act=sendtorescue&policy_id={$policy.policy_id}" target="_blank">发送投保信息</a>
			 </td>
			 <!--{/if}-->
			
            
          </tr>
		   <!--{/if}-->
		   
          </table>
		<!--{if $insurer_code=="PAC04" && $policy.attribute_type!='zhanghuzijin'}-->
        <h5><span>房屋信息</span></h5>
        <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
        	 <tr align="center">
                <td bgcolor="#ffffff">房屋类型</td>
                <td bgcolor="#ffffff" class="color_94" align="left">{$user_info_applicant.house_type}</td>
                <td bgcolor="#ffffff">房屋地址</td>
                <td bgcolor="#ffffff" align="left">{$user_info_applicant.province}-{$user_info_applicant.city}-{$user_info_applicant.county}</td>
              </tr>
              <tr align="center">
                <td bgcolor="#ffffff" >详细地址</td>
                <td bgcolor="#ffffff" colspan="3" align="left">{$user_info_applicant.address}</td>
                 
              </tr>
        </table>
        <!--{/if}--> 
		
		<!--{foreach from=$list_subject key=key item=subject}-->  
			
			
		  
		  <h5><span>产品</span></h5>
		  <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
         
	    <!--{if $policy.attribute_type !='Y502' }-->
             <tr align="center">
                <td bgcolor="#ffffff">产品名</td>
                <td bgcolor="#ffffff">最小投保年龄</td>
                <td bgcolor="#ffffff">最大投保年龄</td>
                <td bgcolor="#ffffff">投保周期</td>
              </tr>
              
            <!--{foreach from=$subject[list_subject_product] item=product}-->
              <tr align="center">
                <td bgcolor="#ffffff"><a href="../goods.php?ins_product_id={$product.product_id}" target="_blank">{$product.product_name}</a></td>
                <!--
                <td bgcolor="#ffffff">{$product.premium}</td>
                -->
                
                <td bgcolor="#ffffff">{$product.age_min}</td>
                <td bgcolor="#ffffff">{$product.age_max}</td>
                 <td bgcolor="#ffffff">{$product.period}</td>
                
                
              </tr>
            <!--{/foreach}-->
			<!--{else}--> 
          <tr align="center">
            <td bgcolor="#ffffff" class="fontbloder">类型</td>
            
			<td bgcolor="#ffffff" class="fontbloder">产品名称</td>
            <td bgcolor="#ffffff" class="fontbloder">责任</td>
            <td bgcolor="#ffffff" class="fontbloder">保额/保险(元)</td>
			 
          </tr>
          <!--{foreach from=$subject.list_product_duty_price item=value1}-->
                                   	
                 
                    <!--{if $value1[product_type]=='main' }-->
                    <tr>
                    <td width="80" bgcolor="#ffffff" class="color_94" align="center">主险</td>
                    <td width="300" bgcolor="#ffffff" class="color_94" align="center">{$value1[product_name]}</td>
                    <td width="240" bgcolor="#ffffff" class="color_94" align="center">{$value1[duty_name]}</td>
                    <td width="130" bgcolor="#ffffff" class="color_94" align="center">{$value1[amount]}/{$value1[price]}</td>
                    </tr>
                    <!--{/if}-->
                  
                  
            <!--{/foreach}-->
           <!--{foreach from=$subject.list_product_duty_price item=value1}-->
                 
                 
                    <!--{if $value1[product_type]=='additional' }-->
                    <tr>
                    <td bgcolor="#ffffff" class="color_94" align="center">附加险</td>
                    
                    <td bgcolor="#ffffff" class="color_94" align="center">{$value1[product_name]}</td>
                    <td bgcolor="#ffffff" class="color_94" align="center">{$value1[duty_name]}</td>
                    <td bgcolor="#ffffff" class="color_94" align="center">{$value1[amount]}/{$value1[price]}</td>
                    </tr>
                    <!--{/if}--> 
                  
                  
            <!--{/foreach}-->
           
		<!--{/if}-->  
			
          </table>
		
		<!--{if $insurer_code!='CPIC_CARGO'}-->
            <h5><span>被保险人</span></h5>
           <div class="blank"></div>
           
           <!--{if $insurer_code=='NCI'}--> 
              <!--{foreach from=$subject[list_subject_insurant] item=item}-->
              <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd" >
                <tr align="center">
                    <td bgcolor="#ffffff" class="fontbloder">与投保人关系：</td>
                    <td bgcolor="#ffffff" class="color_94">{$policy.relationship_with_insured_str}</td>
                    <td bgcolor="#ffffff" class="fontbloder">被保险人姓名：</td>
                    <td bgcolor="#ffffff" class="color_94">{$item.fullname}</td>
                </tr>
    
                <tr align="center">
                    <td bgcolor="#ffffff" class="fontbloder">证件类型：</td>
                    <td bgcolor="#ffffff" class="color_94">{$item.certificates_type_str}</td>
                    <td bgcolor="#ffffff" class="fontbloder">证件号：</td>
                    <td bgcolor="#ffffff" class="color_94">{$item.certificates_code}</td>
    
                </tr>
                <tr align="center">
                    <td bgcolor="#ffffff" class="fontbloder">证件有效期：</td>
                    <td bgcolor="#ffffff" class="color_94">{$item.cardValidDate}-{if $item.cardExpDate}{$item.cardExpDate}{else}长期{/if}</td>
                    <td bgcolor="#ffffff" class="fontbloder">移动电话：</td>
                    <td bgcolor="#ffffff" class="color_94" colspan="3">{$item.mobiletelephone}</td>
                </tr>
    
                <tr align="center">
                    <td bgcolor="#ffffff" class="fontbloder">性别：</td>
                    <td bgcolor="#ffffff" class="color_94">{$item.gender_str}</td>
                    <td bgcolor="#ffffff" class="fontbloder">出生日期：</td>
                    <td bgcolor="#ffffff" class="color_94">{$item.birthday}</td>
                </tr>
                <tr align="center">
                 
                    <td bgcolor="#ffffff" class="fontbloder">国籍：</td>
     
                    <td bgcolor="#ffffff" class="color_94">{$item.nation_code}</td>
     
                    <td bgcolor="#ffffff" class="fontbloder">职业：</td>
                    <td bgcolor="#ffffff" class="color_94">{$item.business_type}--{$item.occupationClassCode}</td>
                    
                </tr>
                <tr align="center">
                 
                    <td bgcolor="#ffffff" class="fontbloder">省市区：</td>
                    <td bgcolor="#ffffff" class="color_94">{$item.province_code}{$item.city_code}{$item.county_code}</td>
                    <td bgcolor="#ffffff" class="fontbloder">通讯地址：</td>
                    <td bgcolor="#ffffff" class="color_94">{$user_info_applicant[address]}</td>
                    
                </tr>
                
            </table>  
       
            <!--{/foreach}-->
            <!--{elseif $insurer_code=='CHINALIFE'}-->
            <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
           
             <tr align="center">
                <td bgcolor="#ffffff">姓名</td>
                <td bgcolor="#ffffff">性别</td>
                <td bgcolor="#ffffff">生日</td>
                <td bgcolor="#ffffff">证件类型</td>
                <td bgcolor="#ffffff">证件号码</td>
                <td bgcolor="#ffffff">手机</td>
                <td bgcolor="#ffffff">邮箱</td>
                 
                <td bgcolor="#ffffff">省市区</td>
                 
              </tr>
              
            <!--{foreach from=$subject[list_subject_insurant] item=item}-->
              <tr align="center">
                <td bgcolor="#ffffff">{$item.fullname}</td>
                <td bgcolor="#ffffff">{$item.gender_str}</td>
                <td bgcolor="#ffffff">{$item.birthday}</td>
                <td bgcolor="#ffffff">{$item.certificates_type_str}</td>
                 <td bgcolor="#ffffff">{$item.certificates_code}</td>
                 <td bgcolor="#ffffff">{$item.mobiletelephone}</td>
                  <td bgcolor="#ffffff">{$item.email}</td> 
                  
                <td bgcolor="#ffffff">{$item.province}-{$item.city}-{$item.county}</td>
                 
              </tr>
            <!--{/foreach}-->
              </table>
              
              <!--{elseif $insurer_code=='SSBQ'}-->
              
              
              
              <!--{else}--> 
               <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
           
             <tr align="center">
                <td bgcolor="#ffffff">姓名</td>
                <td bgcolor="#ffffff">性别</td>
                <td bgcolor="#ffffff">生日</td>
                <td bgcolor="#ffffff">证件类型</td>
                <td bgcolor="#ffffff">证件号码</td>
                <td bgcolor="#ffffff">手机</td>
                <td bgcolor="#ffffff">邮箱</td>
                <!--{if $policy['attribute_type']=="jingwailvyou"}--> 
                  <td bgcolor="#ffffff">目的地</td>
                <!--{/if}-->  
              </tr>
              
            <!--{foreach from=$subject[list_subject_insurant] item=item}-->
              <tr align="center">
                <td bgcolor="#ffffff">{$item.fullname}</td>
                <td bgcolor="#ffffff">{$item.gender_str}</td>
                <td bgcolor="#ffffff">{$item.birthday}</td>
                <td bgcolor="#ffffff">{$item.certificates_type_str}</td>
                 <td bgcolor="#ffffff">{$item.certificates_code}</td>
                 <td bgcolor="#ffffff">{$item.mobiletelephone}</td>
                  <td bgcolor="#ffffff">{$item.email}</td> 
                  <!--{if $policy['attribute_type']=="jingwailvyou"}--> 
                  <td bgcolor="#ffffff">{$policy.destinationCountry}</td>
                <!--{/if}-->  
                
              </tr>
            <!--{/foreach}-->
            
                
              </table>
               
              <!--{/if}--> 
          <!--{/if}-->
		<!--{/foreach}-->
		<!--{if $insurer_code=='SINO' && $product_code=="0916" && $project_info}--> 
		<h5><span>工程信息</span></h5>
       <div class="blank"></div>
       <table width="100%" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
	   
	     <tr align="center">
         	<td bgcolor="#ffffff" >工程类型</td>
            <td bgcolor="#ffffff"  align="left">{$project_info.project_type}</td>
            <td bgcolor="#ffffff" >工程名称</td>
            <td bgcolor="#ffffff" align="left">{$project_info.project_name}</td>
            <td bgcolor="#ffffff" >工程造价</td>
            <td bgcolor="#ffffff" align="left">{$project_info.project_price}</td>
          </tr>
		  
	     
          <tr align="center">
            
            
			<td bgcolor="#ffffff" >施工起期</td>
            <td bgcolor="#ffffff" align="left">{$project_info.project_start_date}</td>
            <td bgcolor="#ffffff" >施工止期</td>
            <td bgcolor="#ffffff" align="left">{$project_info.project_end_date}</td> 
			<td bgcolor="#ffffff" >施工地址</td>
            <td bgcolor="#ffffff" align="left">{$project_info.province_name}-{$project_info.province_name}-{$project_info.project_location}</td> 
          </tr>
          <tr align="center">
          	<td bgcolor="#ffffff" >工程内容</td>
			<td bgcolor="#ffffff"  colspan="3" align="left">{$project_info.project_content}</td>
            <td bgcolor="#ffffff" >邮政编码</td>
			<td bgcolor="#ffffff"  align="left">{$project_info.zipcode}</td>
            
          </tr>
        
          </table> 
          <!--{/if}--> 
         
   		<!--{if $insurer_code=='NCI' || ($insurer_code=='picclife' && ($policy.attribute_type=='ijiankang' || $policy.attribute_type=='BWSJ'))}--> 
       <h5><span>受益人信息</span></h5>
       <div class="blank"></div>
        
        {if $policy.beneficiary==1 }
        <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
                
                <tr>
                    <td bgcolor="#ffffff" class="fontbloder"></td>
                    <td bgcolor="#ffffff" class="color_94">法定继承人的继承顺序：<br />
                        第一顺序：配偶、子女、父母<br />
                        第二顺序：兄弟姐妹、祖父母、外祖父母</td>
                </tr>
    
        </table>
        {else}
        <div>
        <!--{foreach from=$list_beneficiary key=key item=value}-->
             
            <div style="padding-top:20px;">
                <div >
                    <span style="float:left">受益人{if $key==0}一{elseif $key==1}二{else}三{/if}</span>
                
                    <span style="float:right">
                           
                    </span>
                    <span style=" clear:both"></span>
                </div>
                <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
                    <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">与被保险人关系：</td>
                        <td bgcolor="#ffffff" class="color_94">{$value.benefitRelation}</td>
                        <td bgcolor="#ffffff" class="fontbloder">姓名：</td>
                        <td bgcolor="#ffffff" class="color_94">{$value.name}</td>
                    </tr>
        
                    <tr  align="center">
                        <td bgcolor="#ffffff" class="fontbloder">证件类型：</td>
                        <td bgcolor="#ffffff" class="color_94">{$value.cardType}</td>
                        <td bgcolor="#ffffff" class="fontbloder">证件号：</td>
                        <td bgcolor="#ffffff" class="color_94">{$value.cardNo}</td>
        
                    </tr>
                    <!--{if $insurer_code=='NCI'}--> 
                    <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">证件有效期：</td>
                        <td bgcolor="#ffffff" class="color_94">{$value.cardValidDate}--{if $value.cardExpDate}{$value.cardExpDate}{else}长期{/if}</td>
                        <td bgcolor="#ffffff" class="fontbloder">国籍：</td>
                        <td bgcolor="#ffffff" class="color_94" colspan="3">{$value.nativePlace}</td>
                    </tr>
       			 	<!--{/if}--> 
                    <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">性别：</td>
                        <td bgcolor="#ffffff" class="color_94">{$value.sex}</td>
                        <td bgcolor="#ffffff" class="fontbloder">出生日期：</td>
                        <td bgcolor="#ffffff" class="color_94">{$value.birthday}</td>
                    </tr>
                    <tr align="center">
                     
                        
                        <td bgcolor="#ffffff" class="fontbloder">受益顺序：</td>
                        <td bgcolor="#ffffff" class="color_94">{$value.benefitSort}</td> 
                        <td bgcolor="#ffffff" class="fontbloder">受益比例：</td>
                        <td bgcolor="#ffffff" class="color_94">{$value.benefitScale}</td>
                    </tr>
                    
                </table> 
            </div>
            <!--{/foreach}-->
        </div>
        {/if}   
        
     
        {if $insurer_code=='NCI' && $policy.payPeriod!=0}
     
        <h5><span>续期交费信息</span></h5>
        <div class="blank"></div>
                     
        <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
            <tr>
                <td class="check_td_left">续期交费银行：</td>
                <td class="check_td_right">{$policy.partPayBankCode}</td>
                <td class="check_td_left">续期交费账户姓名：</td>
                <td class="check_td_right">{$policy.partPayAcctName}</td>
            </tr>
            <tr>
                <td class="check_td_left">续期交费账户卡号：</td>
                <td class="check_td_right" colspan="3">{$policy.partPayAcctNo}</td>
                
            </tr> 
        </table>
        
        {/if}
        <!--{/if}--> 
        
        <!--{if $insurer_code=='CPIC_CARGO'}-->
        	<!--{if $policy.attribute_type == 'other_cargo'}-->
            	<h5><span>人员信息</span></h5>
                <div class="blank"></div>
                <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">被保险人名称</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$subject[list_subject_insurant][0].fullname}</td>
                        <td bgcolor="#ffffff" class="fontbloder">被保险人证件号码</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$subject[list_subject_insurant][0].certificates_code}</td>
                      </tr>
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">邮政编码</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$subject[list_subject_insurant][0].zipcode}</td>
                        <td bgcolor="#ffffff" class="fontbloder">被保险人联系地址</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$subject[list_subject_insurant][0].address}</td>
                      </tr>
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">联系人</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$user_info_applicant[fullname]}</td>
                        <td bgcolor="#ffffff" class="fontbloder">手机号码</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$user_info_applicant[mobiletelephone]}</td>
                    </tr>
                    <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">Email</td>
                        <td bgcolor="#ffffff" class="color_94" align="left" colspan="3">{$user_info_applicant[email]}</td>
                         
                    </tr>
                       
                </table>
                <h5><span>车辆运单信息</span></h5>
                <div class="blank"></div>
                <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">道路运输许可证号码：</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[RoadLicenseNumber]}</td>
                        <td bgcolor="#ffffff" class="fontbloder">累计承保车辆：</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">1辆</td>
                        
                     </tr>
                     <tr align="center">
                        
                        <td bgcolor="#ffffff" class="fontbloder">运输车辆号码：</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[CarNumber]}</td>
                        <td bgcolor="#ffffff" class="fontbloder">运输货物名称：</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[GoodsName]}</td>
                    </tr>
                    <tr align="center">
                        
                        <td bgcolor="#ffffff" class="fontbloder">行驶证车主：</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[VehicleOwners]}</td>
                        <td bgcolor="#ffffff" class="fontbloder">运输车辆核定载质量：</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[TransportVehiclesApprovedTotal]} KG</td>
                    </tr>
                    <tr align="center">
                        
                        <td bgcolor="#ffffff" class="fontbloder">车辆车架号/识别代码：</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[FrameNumber]}</td>
                        <td bgcolor="#ffffff" class="fontbloder">发动机号码：</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[EngineNo]}</td>
                    </tr>
                    {if $policy.BusinessType=='05'}
                    <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">运单号：</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[DeliverorderNo]}</td>
                        <td bgcolor="#ffffff" class="fontbloder">起运日期：</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[SailDate]}</td>
                        
                    </tr>
                    <tr align="center">
                        
                        <td bgcolor="#ffffff" class="fontbloder">起运地：</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[StartPlace]}</td>
                        <td bgcolor="#ffffff" class="fontbloder">目的地：</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[EndPlace]}</td>
                    </tr>
                    {/if}
    
                       
                </table>
                 
                <h5><span>保险信息</span></h5>
                <div class="blank"></div>
                <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">业务类型</td>
                        <td bgcolor="#ffffff" class="color_94" colspan="3" align="left">{if $policy.BusinessType=='05'}单次业务{else}单车业务{/if}</td>
                         
                      </tr>
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">累计责任限额</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[SumAmount]}元</td>
                        <td bgcolor="#ffffff" class="fontbloder">保险费率</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[Rate]}</td>
                         
                      </tr>
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">保费</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[Premium]}元</td>
                        <td bgcolor="#ffffff" class="fontbloder">每次事故赔偿限额</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[TimeAmount]}</td>
                         
                      </tr>
                       
                       
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">免赔条件</td>
                        <td bgcolor="#ffffff" class="color_94" colspan="3" align="left">{$policy[EachAccidentFranchise]}</td>
                         
                      </tr>
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">特别约定</td>
                        <td bgcolor="#ffffff" class="color_94" colspan="3" align="left">{$policy[Specialterm]}</td>
                         
                      </tr>
                       
                </table>
            <!--{else}-->
                <h5><span>基本信息</span></h5>
                <div class="blank"></div>
                <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">投保人名称</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$user_info_applicant.group_name}</td>
                        <td bgcolor="#ffffff" class="fontbloder">险种</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy.classtype}</td>
                      </tr>
                      <tr align="center">
                        
                        <td bgcolor="#ffffff" class="fontbloder">被保险人名称</td>
                        <td bgcolor="#ffffff" class="color_94" colspan="3" align="left">{$subject[list_subject_insurant][0].fullname}</td>
                      </tr>
                       
                </table>
                <h5><span>货运信息</span></h5>
                <div class="blank"></div>
                <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">标记/发票号码/运单号</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[mark]}</td>
                        <td bgcolor="#ffffff" class="fontbloder">起运日期</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[saildate]}</td>
                      </tr>
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">货物名称</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[item]}</td>
                        <td bgcolor="#ffffff" class="fontbloder">货物类型</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[itemcode]}</td>
                      </tr>
                      
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">包装及数量</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[quantity]}</td>
                        <td bgcolor="#ffffff" class="fontbloder">货物包装</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[packcode]}</td>
                      </tr>
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">运输方式</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[kind]}</td>
                        <td bgcolor="#ffffff" class="fontbloder">运输工具</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[kindname]}</td>
                      </tr>
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">航次/车牌号</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[voyno]}</td>
                        <td bgcolor="#ffffff" class="fontbloder">运输路线</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[startport]}----{$policy[endport]}</td>
                      </tr>
                       
                </table>
                <h5><span>所选条款</span></h5>
                <div class="blank"></div>
                <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">主要条款</td>
                        <td bgcolor="#ffffff" class="color_94" colspan="3" align="left">{$policy[mainitemcode]}</td>
                         
                      </tr>
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">详细内容</td>
                        <td bgcolor="#ffffff" class="color_94" colspan="3" align="left">{$policy[itemcontent]}</td>
                         
                      </tr>
                       
                </table>
                <h5><span>保险信息</span></h5>
                <div class="blank"></div>
                <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">保险金额</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[amount]}元</td>
                        <td bgcolor="#ffffff" class="fontbloder">保险费率</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[rate]}</td>
                         
                      </tr>
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">保费</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[premium]}元</td>
                        <td bgcolor="#ffffff" class="fontbloder">签单日期</td>
                        <td bgcolor="#ffffff" class="color_94" align="left">{$policy[effectdate]}</td>
                         
                      </tr>
                      
                      
                      
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">发票抬头</td>
                        <td bgcolor="#ffffff" class="color_94" colspan="3" align="left">{$user_info_applicant[group_name]}</td>
                         
                      </tr>
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">免赔条件</td>
                        <td bgcolor="#ffffff" class="color_94" colspan="3" align="left">{$policy[franchise]}</td>
                         
                      </tr>
                      <tr align="center">
                        <td bgcolor="#ffffff" class="fontbloder">特别约定</td>
                        <td bgcolor="#ffffff" class="color_94" colspan="3" align="left">{$policy[specialize]}</td>
                         
                      </tr>
                       
                </table>
            <!--{/if}-->   
       <!--{/if}-->  
        
      <!--#保单详情界面 end-->
      
 <!-- <script src="js/jquery-1.8.3.min.js"></script> -->


{/if}
	    <script type="text/javascript">
	    		function cancel_policy(policy_id){
	    			if (confirm('取消投保单将退回此保单保费和服务费，确定取消吗？')){
		    			$.ajax({
		    				   type: "GET",
		    				   dataType:"text",
		    				   url: "policy.php?act=cancel_policy",
		    				   data: "policy_id="+policy_id,
		    				   success: function(data){
		    					   data = $.parseJSON(data);
		    				     	if(data.code==0){
		    				     		alert(data.msg);
		    				     		location.reload();
		    				     	}else{
		    				     		alert(data.msg);
		    				     	}
		    				   }
		    			
		    				});
		    			
	    			}
	    			
	    		}
	    
	    
           		function reinsure_policy(policy_id){
					
				     var ret = confirm("您确认要重新投保吗？");
					 if(!ret)
					 {
					 	return;
					 }
										       			         			
           			 $.getJSON("policy.php", 
					       { 
						   "act": "reinsure",
						   "policy_id": policy_id ,
						   "random": Math.random() 
						   },
						   function(data){
						   
						    //alert("sdfsdf");
           					//data = $(data);
							//console.info(data);
							//var data = $.parseJSON(data); 
							var retcode = data.retcode;
							var retmsg =  data.retmsg;
							
							//alert("retcode: "+retcode);
							if(retcode == "0")
							{
							   alert("投保成功！");
							  
							}
							else
							{
							  alert(retmsg);
							}
							
							 window.location.href = "policy.php?act=info&policy_id="+policy_id;
           				
           		   	  
				}); 	
           			
           	}
         </script>
 
{include file="pagefooter.htm"}