<!-- $Id: user_account_check.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<div class="main-div" >
		<form method="post" action="user_account.php" name="theForm" onsubmit="return validate();">
			<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
			<script type="text/javascript" src="layer/layer.min.js"></script>
				<table>
				  <tr>
				    <td colspan="2"><strong>{$lang.surplus_info}：</strong><hr /></td>
				  </tr>
				  <tr>
				    <th align="right"><!-- 充值提现申请换行  edit yes123 2014-10-05 -->
				       <strong>{$lang.user_id}</strong> 
				    </th> 
				    	<td>{$user_name} </td>
				  </tr>
				  <!-- 银行名称 -->
				  <tr>
				  	<th align="right"> <strong>{$lang.account}</strong></th>
				  	<td>{$bankinfo.b_account}</td>
				  </tr>
				  <!-- 开户分行支行 -->
				  <tr>
				  	<th align="right">  <strong>{$lang.sub_branch}</strong></th>
				  	<td>{$bankinfo.sub_branch}</td>
				  </tr>
				  
				    <!-- 真名 -->
				  <tr>
				  	<th align="right">  <strong>{$lang.real_name}</strong></th>
				  	<td>{$real_name}</td>
				  </tr>
				  
				  <!--账户余额-->
				  <tr>
				  	<th align="right"> <strong>账户余额</strong></th>
				  	<td>{$user_money}</td>
				  </tr>
				  
				    <!-- 帐号 -->
				  <tr>
				  	<th align="right"> <strong>{$lang.account_num}</strong></th>
				  	<td>{$bankinfo.bank_code}</td>
				  </tr>
				  
				      <!-- 金额-->
				  <tr>
				  	<th align="right"> <strong>{$lang.surplus_amount}</strong></th>
				  	<td>{$surplus.amount} </td>
				  </tr>
				
				      <!-- 申请日期-->
				  <tr>
				  	<th align="right"> <strong>{$lang.add_date}</strong></th>
				  	<td>{$surplus.add_time}</td>
				  </tr>
				
				      <!-- 类型-->
				  <tr>
				  	<th align="right"> <strong>{$lang.process_type}</strong></th>
				  	<td>{$process_type}</td>
				  </tr>
				
				      <!-- 支付方式-->
				  <tr>
				  	<th align="right"> <strong>{$lang.pay_mothed}</strong></th>
				  	<td>{$surplus.payment}
				  		{if $surplus.pay_document}
				  			<input type="button" value="查看汇款凭证" onclick="show_img('../{$surplus.pay_document}','汇款凭证');">
				  		{/if}
				  	</td>
				  </tr>
				
				  <tr>
				    <th align="right"> <strong>{$lang.surplus_desc}</strong></th>
				    <td>{$surplus.user_note}</td>
				  </tr>
				  <tr>
				    <th valign="middle" align="right"> <strong>{$lang.surplus_notic}</strong></th>
				    <td >
				      <textarea id="admin_note" name="admin_note" cols="55" rows="5" >{$surplus.admin_note}</textarea>
				    </td>
				  </tr>
				  <tr>
				    <th width="15%" valign="middle" align="right">{$lang.status}：</th>
				    <td>
				      <input type="radio" name="is_paid" value="0" checked="true" />{$lang.unconfirm}
				      <input type="radio" name="is_paid" value="1" />{$lang.confirm}
				    </td>
				  </tr>
				  <tr>
				    <td>&nbsp;</td>
				    <td>
				      <input type="hidden" name="act" value="action" />
				      <input type="hidden" name="id" value="{$id}" />
				      <input name="submit" type="submit" value="{$lang.button_submit}" class="button" />
				      <input type="reset" value="{$lang.button_reset}" class="button" />
				      &#12288; &#12288;
				      <input type="button" value="发送短信" class="button" onclick="javascript:send_sms();" />
				      (注：短信内容为管理员备注！)
				    </td>
				  </tr>
			</table>
		</form>

</div>

{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['admin_note'].focus();

/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required("admin_note",  deposit_notic_empty);
    return validator.passed();
}

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
//-->
  //浏览图片
  function show_img(img_url,img_name){
	   
   		var pageii = $.layer({
   			  	type: 1,
   			 	maxmin:true,
   			    border: [0],
       	        title: img_name, //不显示默认标题栏
				area:['400px', '400px'],
				offset : ['120px', ''],
       	        shade: [0.3, '#696969'], //不显示遮罩
       		    success: function(index){
       		    	layer.full(layer.index , {area : ['400px','400px'],offset : ['120px',''],border : [6]});
       		    },
   			    page:{html:'<div><img src="'+img_url+'"></div>'}
	
  		});
  }
  
  
  //发送短信
  function send_sms(){
	  //<textarea name="admin_note"
	 var content =  $("#admin_note").val();
	 if(!content){
		 alert('请输入发送内容！');
		 return;
	 }
	 $.post("user_account.php",
			 {'act':'send_sms','id':'{$id}','content':content},
			 function(data){
				var obj = $.parseJSON(data);
		 		alert(obj.msg);
	 },'text');
  }

</script>
{/literal}
{include file="pagefooter.htm"}