<!--{template cp_product_buy_header}-->	
                <script src="js/client_reg_Nonehuodong.js?1" type="text/javascript"></script>
				<script src="js/mobile/chinalife_product_xuepingxian.js?2"></script>
                <!-- 以下是私有的变量-->
                <input id="premium" name="premium" value="$prodcutMarkPrice" type="hidden">
                <input id="posion_price" value="$prodcutMarkPrice" type="hidden">
                <input id="period_code" name="period_code" value="$period_code" type="hidden"> 
                <input id="applyNum" name="applyNum" value="1" type="hidden">
                <!--applicat_sex_type 判断性别是否是数字  1是数字(0,1)  2是字母 (M,F) -->
                <input id="applicat_sex_type" value="2" type="hidden">  
                 
            <div class="container">
                 <div class="panel panel-default">
                        <ul class="list-group" >
                          <li class="list-group-item" ><span class="s-c-ed462f f-fs4 f-fwb">$product[attribute_name]</span></li>
                        </ul>
                 </div>
                  
                 <div class="panel panel-default">
                        
                        <ul class="list-group" >
                          <li class="list-group-item text-center" ><span class="f-fs2 s-c-ed462f">$product[product_name]</span></li>
                          <li class="list-group-item" >
                                <span class="s-c-aaaaaa">年龄范围</span>
                                <span class="f-fs2 pull-right s-c-aaaaaa">$product[age_min] 至  $product[age_max]岁</span>
                          </li> 
                           
                          <li class="list-group-item" >
                                <span class="s-c-aaaaaa">购买份数</span>
                                <span class="pull-right s-c-aaaaaa">
                                    <span>1份</span>
                                </span>
                          </li>
                          <li class="list-group-item" >
                                <span class="s-c-aaaaaa">金额</span>
                                <span class="f-fs2 pull-right">￥<span>{$prodcutMarkPrice}</span>元</span>
                          </li> 
                          <input id="startDate" name="startDate" type="hidden">
                          <input name="endDate" id="endDate"  type="hidden"  > 
                          <!--
                          <li class="list-group-item" >
                                <span class="s-c-aaaaaa">保险起期</span>
                                <span class="pull-right">
                                    <span >
                                        <input class="input_b text-right s-c-ed462f g-w150" id="startDate" name="startDate" type="text" readonly >
                                    </span>
                                     
                                </span>
                          </li>
                           
                          <li class="list-group-item">
                                <span class="s-c-aaaaaa">保险止期</span>
                                <span class="pull-right ">
                                    <span>
                                        <input class="input_b text-right s-c-ed462f g-w150 " name="endDate" id="endDate" readonly  > 
                                    </span>
                                     
                                </span>
                           </li> 
                          --> 
                        </ul>
                </div>
                 <div id="datePlugin"></div>
                 
                 <div class="panel panel-default">
                     
                      <input type="hidden" name="assured_input_type" value="1">
                      <div class="panel-body f-csp" onClick="show_hide(this,true)">
                          投保人信息
                          <span class="pull-right" style="height:20px; width:20px; display:block">
                                <img src="../mobile/dist/images/drop_down_card_btn_open.png" class="img-responsive" >
                          </span>
                      </div>
                      <ul class="list-group">
                           <input type="hidden" name="applicant_type" value="1" id="applicant_type">
                           <li class="list-group-item" >
                               <span class="s-c-aaaaaa">投保人类型</span>
                               <span class="pull-right">
                                   <span id="text_select_applicant_type" data-applicant_type_id="1" data-applicant_type_name="个人">个人</span>     
                               </span>
                           </li>
                           <!-- 个人-->
                           <li class="list-group-item">
                               <span class="s-c-aaaaaa">姓名</span>
                               <span class="f-fs2 pull-right">
                                   <input type="text" name="applicant_fullname" placeholder="名字长度至少2的汉字" id="applicant_fullname" class="input_b text-right g-w150">
                                   <i class=" f-ml10 fa fa-user s-c-aaaaaa"></i>
                               </span>
                           </li>  
                         
                           <input type="hidden" name="applicant_certificates_type" id="applicant_certificates_type" value="01">
                           <li class="list-group-item">
                               <span class="s-c-aaaaaa">证件类型</span>
                               <span class="pull-right">
                                   <span id="text_applicant_certificates_type">身份证</span>
                               </span>
                           </li>
                           <li class="list-group-item" >
                               <span class="s-c-aaaaaa">证件号码</span>
                               <span class="f-fs2 pull-right">
                                    <input type="text" name="applicant_certificates_code" onBlur="checked_codebirsex_test('applicant_certificates_code','applicant_birthday','text_select_toubaoren_sex','applicant_sex','app',true)" id="applicant_certificates_code" class="input_b text-right g-w150">
                                    <i class=" f-ml10 fa fa-credit-card s-c-aaaaaa"></i>
                               </span>
                           </li> 
                           <input type="hidden" name="applicant_sex" value="0" id="applicant_sex">
                           <li class="list-group-item">
                               <span class="s-c-aaaaaa">性别</span>
                               <span class="pull-right">
                                   <span id="text_select_toubaoren_sex"></span>
                               </span>
                           </li>
                           <li class="list-group-item" >
                               <span class="s-c-aaaaaa">出生日期</span>
                               <span class="f-fs2 pull-right">
                                    <input type="text" name="applicant_birthday" id="applicant_birthday" class="input_b text-right" readonly>
                               </span>
                           </li>  
                           
                           <!--公用-->
                           <li class="list-group-item" >
                                <span class="s-c-aaaaaa">手机</span>
                                <span class="f-fs2 pull-right">
                                    <input type="text" name="applicant_mobilephone" id="applicant_mobilephone" class="input_b text-right g-w150">
                                </span>
                           </li> 
                           <li class="list-group-item" >
                                <span class="s-c-aaaaaa">Email</span>
                                <span class="f-fs2 pull-right">
                                    <input type="text" name="applicant_email" id="applicant_email"  class="input_b text-right g-w150">
                                </span>
                           </li> 
                             
                        </ul> 
                         
                      
                </div>
                 
                 <div class="panel panel-default">
                      <!-- 被保险人信息 -->
                      <div class="panel-body f-csp" onClick="show_hide(this,true)">
                            被保险人信息
                            <span class="pull-right" style="height:20px; width:20px; display:block">
                                <img src="../mobile/dist/images/drop_down_card_btn_open.png" class="img-responsive" >
                            </span>
                      </div>
                      <ul class="list-group">
                            <input type="hidden" name="relationshipWithInsured" id="relationshipWithInsured">
                           <a class="list-group-item" href="javascript:void(0)" id="text_select_relationshipWithInsured_P" onClick="showSelect_base('text_select_relationshipWithInsured','text_select_relationshipWithInsured_P','relationshipWithInsured')" data-value='[<!--{eval $indexQs=1;}-->{loop $attr_relationship_with_insured_chinalife $index $value1}{if $indexQs!=1},{/if}<!--{eval $indexQs++;}-->{"relationshipWithInsured_id":"{$index}","relationshipWithInsured_name":"{$value1}"}{/loop}]' >
                               <span class="s-c-aaaaaa">与投保人关系</span>
                               <span class="pull-right">
                                   <span id="text_select_relationshipWithInsured"></span>
                                   <i class="fa fa-angle-right s-c-aaaaaa f-fs6 f-ml10"></i>
                               </span>
                           </a>
                            
                           <li class="list-group-item" >
                               <span class="s-c-aaaaaa">姓名</span>
                               <span class="f-fs2 pull-right">
                                    <input type="text" name="assured[0][assured_fullname]" id="assured_fullname" placeholder="名字长度至少2的汉字" class="input_b text-right">
                                    <i class=" f-ml10 fa fa-user s-c-aaaaaa"></i>
                               </span>
                           </li> 
                           
                           <input type="hidden" name="assured[0][assured_certificates_type]" value="01" id="assured_certificates_type"> 
                           <li class="list-group-item">
                                <span class="s-c-aaaaaa">证件类型</span>
                                <span class="pull-right">
                                    <span id="text_select_assured_certificates_type">身份证</span>
                                    
                                </span>
                           </li>
                           <li class="list-group-item" >
                                <span class="s-c-aaaaaa">证件号码</span>
                                <span class="f-fs2 pull-right">
                                    <input type="text" name="assured[0][assured_certificates_code]" onBlur="checked_codebirsex_test('assured_certificates_code','assured_birthday','text_select_assured_sex','assured_sex','app',true)" id="assured_certificates_code" class="input_b text-right">
                                    <i class=" f-ml10 fa fa-credit-card s-c-aaaaaa"></i>
                                </span>
                           </li> 
                           <input type="hidden" name="assured[0][assured_sex]" id="assured_sex">
                           <li class="list-group-item">
                               <span class="s-c-aaaaaa">性别</span>
                               <span class="pull-right">
                                   <span id="text_select_assured_sex"></span>
                               </span>
                           </li>
                           <li class="list-group-item" >
                               <span class="s-c-aaaaaa">年龄范围</span>
                               <span class="f-fs2 pull-right">
                                    {$product[age_min]}至{$product[age_max]}周岁
                               </span>
                           </li> 
                           <li class="list-group-item">
                               <span class="s-c-aaaaaa">出生日期</span>
                               <span class="f-fs2 pull-right">
                                    <input type="text" name="assured[0][assured_birthday]" id="assured_birthday" class="input_b text-right" readonly>
                               </span>
                           </li> 
                           <input type="hidden" name="assured[0][province_name]" id="province_name" value="吉林省">
                           <li class="list-group-item" >
                               <span class="s-c-aaaaaa">省份</span>
                               <span class="f-fs2 pull-right">
                                    <span class="f-mr15">吉林省</span>
                               </span>
                           </li> 
                           <input type="hidden" name="assured[0][city_name]" id="city_name" value="">
                           <a class="list-group-item" href="javascript:void(0)" id="text_select_city_P" onClick="showSelectcity('text_select_city','text_select_city_P','city')" ><span class="s-c-aaaaaa">城市</span><span class="pull-right"><span id="text_select_city"></span><i class="fa fa-angle-right s-c-aaaaaa f-fs6 f-ml10"></i></span></a>
                           <input type="hidden" name="assured[0][county_name]" id="county_name" value="">
                           <a class="list-group-item" href="javascript:void(0)" id="text_select_county_P" onClick="showSelect_base('text_select_county','text_select_county_P','county')" ><span class="s-c-aaaaaa">地区</span><span class="pull-right"><span id="text_select_county"></span><i class="fa fa-angle-right s-c-aaaaaa f-fs6 f-ml10"></i></span></a>
                           
                           
                            
                      </ul> 
                     
                </div>
                
                <div class="panel panel-default">
                      <!-- 被保险人信息 -->
                      <div class="panel-body f-csp">
                            受益人信息
                      </div>
                      <ul class="list-group">
                      		<input type="hidden" name="beneficiary" id="beneficiary" value="1">
                           <li class="list-group-item">
                                <span class="s-c-aaaaaa">受益人</span>
                                <span class="pull-right">
                                    <span id="text_select_beneficiary" data-beneficiary_id="1" data-beneficiary_name="法定">法定</span>
                                </span>
                           </li> 
                      </ul>
                </div>
                
<!--{template cp_product_buy_footer}-->
