<!-- <div class="footer">
  <div class="center">
  <dl>
    <dt>新手指南</dt>
	<dd><a href="">使用说明</a></dd>
	<dd><a href="">投保演示</a></dd>
	<dd><a href="">代金券使用说明</a></dd>
	<dd><a href="">产品问题大全</a></dd>
  </dl>
  <dl>
    <dt>新手指南</dt>
	<dd><a href="">使用说明</a></dd>
	<dd><a href="">投保演示</a></dd>
	<dd><a href="">代金券使用说明</a></dd>
	<dd><a href="">产品问题大全</a></dd>
  </dl>
  <dl>
    <dt>新手指南</dt>
	<dd><a href="">使用说明</a></dd>
	<dd><a href="">投保演示</a></dd>
	<dd><a href="">代金券使用说明</a></dd>
	<dd><a href="">产品问题大全</a></dd>
  </dl>
  <dl>
    <dt>新手指南</dt>
	<dd><a href="">使用说明</a></dd>
	<dd><a href="">投保演示</a></dd>
	<dd><a href="">代金券使用说明</a></dd>
	<dd><a href="">产品问题大全</a></dd>
  </dl>
  <dl>
    <dt>新手指南</dt>
	<dd><a href="">使用说明</a></dd>
	<dd><a href="">投保演示</a></dd>
	<dd><a href="">代金券使用说明</a></dd>
	<dd><a href="">产品问题大全</a></dd>
  </dl>
  <dl>
    <dt>微信公共平台</dt>
	<dd><img src="image/ad02.jpg" width="80px" height="80px"></dd>
  </dl>
  <div class="clearfl"></div>
  <address>保险业务经营许可证：201974000000800 中天信合保险代理（北京）有限公司：110104011479456 京ICP备12031115号-3<br>
 Copyright@2006-2014 {$shop_name}版权所有</address>
  </div>
</div>



</div>  mainarea

</body>
</html> -->