/*base*/
#settleup{display: none;}
.c-a10{}
/*logo*/
#logo a:link b, #logo a:visited b {background: url("i/base.png") no-repeat scroll 0px -310px #fff; } 
#logo a:hover b, #logo a:active b {background: url("http://misc.360buyimg.com/lib/skin/2012/i/20111221C.png") no-repeat scroll -5px -470px transparent; } a:hover{color: #4BA923}
/*search*/
#search b, #search s, #search .form, #search .text, #search .button{background-image: url(i/base.png);background-repeat: no-repeat;background-color: #4BA923}
#search b{background-position: -81px -260px;}
#search s{background-position: 0 -260px;}
#search .text{background-position: 0 -183px;background-repeat: repeat-x;}
#search .form{background-position: 0 -180px;background-color: #479c1b}
#search .button{background-position: 0 -220px;color: #fff}
/*my360buy*/
#my360buy{float: right;}
#my360buy dl b{display: none}
#my360buy dl.hover dt{background-position: -64px -320px;height: 30px;}
#my360buy dl.hover dd{display: none}
/*#my360buy span {background-color: #FFFFFF; background-position: -64px -320px; cursor: pointer; height: 30px; line-height: 27px; padding: 0 14px 0 36px; position: absolute; text-align: center; width: 50px; z-index: 1;background: url(i/icon0417.png) 0 -450px; } 
#my360buy span img {background-position: -202px -176px; left: 3px; position: absolute; top: 2px;background-image: url("http://misc.360buyimg.com/lib/skin/2012/i/20120112B.png"); background-repeat: no-repeat; }*/
/*categorys*/
#categorys, #categorys .mt, #categorys .mt b, #categorys h3, #categorys .close, #categorys.hover .mt b{background-image: url(i/base.png);}
#navitems, #navitems li, #navitems .fore1, #navitems .curr a, #navitems .hover a{background-image: url(i/base.png);}
#nav{background: url(i/base.png) repeat-x 0 0 #4BA923;}
#categorys .mt b{background-position: -10px -140px;}
#categorys{background-position: 0 -45px;}
#categorys.hover .mt b{background-position: -40px -140px;}
#categorys .mt{background-position: -79px -135px;}
#navitems{background-position: 774px -135px;}
#navitems li{background-position: -83px -360px;}
#navitems .fore1{background-position: 0 0}
#navitems .curr a, #navitems .hover a{background-position: 0 -90px;}
#categorys .mc{border-color: #4ba923;background-color: #edf3eb}
#categorys h3{background-color: #edf3eb;border-color: #edf3eb}
#categorys h3 a:hover, #categorys h3 a:active{color: #4ba923}
#categorys .hover h3{border-color: #4ba923}
#categorys .item .i-mc{border-color: #4ba923}
#categorys .fr{background:none;background-color: #edf3eb;}
#categorys .subitem dl{border-color: #c1dab7}
#categorys .close{background-position: -20px -265px;}
#categorys .mc .extra{background: #e0eddc;border-top-color: #c1dab7}
#categorys .mc .extra a{color: #4ba923}
#categorys .item dt,#categorys .subitem dt,#categorys .item dt a{color: #4ba923}
/*slide*/
#slide {height:320px;width:770px;margin-bottom:10px;position:relative;z-index: 1}
#slide .slide-itemswrap{position:relative}
#slide .slide-itemswrap, #slide .slide-items div {height:320px;overflow:hidden;width:770px;}
#slide .slide-items li {height:320px;overflow:hidden;width:770px;float: left;}
#slide .slide-items {height: 320px;}
#slide .slide-items div {float: left;}
#slide .slide-controls, #slide .slide-crystal {bottom: 0;left: 0;position: absolute;width: 770px;}
#slide .slide-controls {height: 18px;padding: 8px 0;text-align: right;z-index: 3;padding-right: 10px;width: 760px;}
#slide .slide-controls span {height: 22px;line-height: 22px;width: 22px;}
#slide .slide-controls a {font-size: 12px;}
#slide .slide-crystal {background: none repeat scroll 0 0 #FFFFFF;height: 34px;opacity: 0.5;z-index: 2;filter:alpha(opacity=50);width:770px;height:34px;zoom:1}
#slide .slide-itemswrap ul{position:absolute;}
#slide .slide-controls .curr{background: #4ba923}
/*layout*/
.layout{display:none;width:325px;height:auto;border:1px solid #D9D9D9;background:#fff;position:absolute;zoom:1;} 
.layout .title{height:35px;background:#f5f5f5;font:normal 12px/35px simsun;color:#666;padding-left:10px;}
.layout .con{overflow:hidden;zoom:1;}
.layout .smt{height:22px;color:#005ea7;font-family:Verdana;position:absolute;top:4px;text-align:center;padding:0 4px;line-height:22px;cursor:pointer}
.layout1 .smt{left:10px;}
.layout2 .smt{left:45px;}
.layout3 .smt{left:85px;}
.layout4 .smt{left:140px;}
.layout5 .smt{left:182px;}
.layout6 .smt{left:245px;}
.layout .smc{display:none;padding:10px;border-top:1px solid #d9d9d9}
.layout .curr .smc{display:block;}
.layout .curr .smt{border:solid #d9d9d9;border-width:1px 1px 0;background:#fff;text-decoration:none;color:#333;}
.layout li{float:left;height:26px;line-height:26px;}
.layout.city .con{padding-top:26px;position:relative;background:#fff}
.layout.city li{width:61px;text-align:center}
.layout.city li a{display:inline-block;text-decoration:none;width:61px;text-align:center}
.layout.city li a:hover{background:#dbf3ff;color:#333;}
.layout.area .con{padding:10px;}
.layout.area li {width:76px;zoom:1;overflow:hidden;}
.layout.area li a{display:inline-block;text-decoration:none;padding:0 3px;text-align:center;white-space: nowrap;}
.area li a:hover{background:#dbf3ff;color:#333;}
.current .layout{display:block;z-index:4;}
/*suggest */
.input{border:1px solid #999}
.qline{line-height:24px; margin:10px}
#suggest,#suggest1{width:200px;}
.gray{color:gray;}
.ac_results {background:#fff;border:1px solid #7f9db9;position:absolute;top:30px;left:37px;zoom:1;z-index: 9;display: none;}
.ac_results ul{margin:0;padding:0;list-style:none;}
.ac_results li a{white-space: nowrap;text-decoration:none;display:block;color:#05a;padding:1px 3px;}
.ac_results li{border:1px solid #fff; line-height:20px;font-size:12px}
.ac_over,.ac_results li a:hover {background:#80c3ff;color:#ffffff}
.ac_results li a span{float:right;}
.ac_result_tip{border-bottom:1px dashed #666;padding:3px;font-size:12px}
.ac_result_null{background-color:#bb0000;color:#ffffff;overflow:hidden;}
.assit .ac_results{display: block;}
/*slide*/
#subslide {height:245px;width:690px;margin-bottom:10px;position:relative;z-index: 1}
#subslide .slide-itemswrap{position:relative}
#subslide .slide-itemswrap, #subslide .slide-items div {height:245px;overflow:hidden;width:690px;}
#subslide .slide-items li{height:245px;overflow:hidden;width:690px;float: left;}
#subslide .slide-items {height: 245px;}
#subslide .slide-items div {float: left;}
#subslide .slide-controls, #subslide .slide-crystal {bottom: 0;left: 0;position: absolute;width: 690px;}
#subslide .slide-controls {height: 18px;padding: 8px 0;text-align: right;z-index: 3;padding-right: 10px;width: 680px;}
#subslide .slide-controls span {height: 18px;line-height: 18px;width: 18px;}
#subslide .slide-controls a {font-size: 12px;}
#subslide .slide-crystal {background: none repeat scroll 0 0 #FFFFFF;height: 34px;opacity: 0.5;z-index: 2;filter:alpha(opacity=50);width:690px;height:34px;zoom:1}
#subslide .slide-itemswrap ul{position:absolute;}
#subslide .slide-controls .curr{background: #4ba923}
/*solgen*/
#solgen{height: 38px;width: 768px;border: 1px solid #ebebeb;line-height: 38px;}
#solgen .title{float: left;width: 54px;border-right: 1px solid #4ba923;font-size: 18px;font-family: "microsoft yahei";color: #4ba923;text-align: center;position: relative;}
#solgen .title em{font-size: 0;height: 0;border:8px dashed transparent;position: absolute;top: 11px;border-left-style: solid;overflow: hidden;}
#solgen .title .s1{border-left-color: #4ba923;z-index: 1;right: -16px;}
#solgen .title .s2{border-left-color: #fff;z-index: 2;right: -15px;}
#solgen .i-solgen{width: 700px;float: right;}
#solgen ul{list-style: outside}
#solgen li{width: 700px;height: 38px;line-height: 38px;overflow: hidden;}
/*plist*/
#plist .mt,#phase .mt{padding-left: 5px;height: 28px;}
#plist .mt h2,#phase .mt h2,#share .title h2{color: #4ba923;font-size: 20px;font-weight: normal;}
#plist .mc,#phase .mc{border-left: 1px solid #ebebeb;border-top: 2px solid #4ba923;padding-left: 1px;}
#plist li{float: left;width: 323px;border-right: 1px solid #ebebeb;border-bottom: 1px solid #ebebeb;padding: 20px 30px;height: 76px;}
#plist .p-img{float: left;width: 155px;height: 76px;margin-right: 10px;padding: 0}
#plist .p-name,#plist .p-price,#plist .p-btn{float: left;width: 158px;}
#plist .p-name{font-size: 14px;margin-bottom: 5px;width: 158px;height: 18px;overflow: hidden;}
#plist .p-price{color: #f00;font-weight: bold;margin-bottom: 5px;}
#plist .p-btn .btn-detail{width: 89px;height: 30px;text-align: center;font-size: 14px;line-height: 30px;background: url(i/icon0417.png) -310px 0;display: inline-block;text-decoration: none}
/*phase*/
#phase li{float: left;width: 384px;}
#phase .mc{padding: 0;border-right: 1px solid #EBEBEB;border-bottom: 1px solid #EBEBEB}
#phase .title{background: #edf3eb;height: 100px;padding-left: 50px;}
#phase .fore1 .title,#phase .fore3 .title{border-right: 1px solid #fff}
#phase .fore1 .item,#phase .fore3 .item{border-right: 1px solid #ebebeb}
#phase .title dl{padding-top: 25px;overflow: hidden;text-align: left;font-family: "microsoft yahei";float: left;}
#phase .title dt{font-size: 24px;height: 24px}
#phase .title dd{font-size: 18px;color: #999;height: 30px;line-height: 30px;}
#phase .title s{display: inline-block;background-image: url(i/icon0417.png);margin-right: 50px;float: left;margin-top: 10px;}
#phase .fore1 s{background-position: 0 -95px;width: 71px;height: 80px;}
#phase .fore2 s{background-position: -90px -95px;width: 98px;height: 87px;margin-right: 33px}
#phase .fore3 s{background-position: -200px -95px;width: 101px;height: 76px;margin-right: 20px}
#phase .fore4 s{background-position: 0 -195px;width: 108px;height: 71px;margin-right: 23px}
#phase .p-img{float: left;margin-right: 10px;width: 85px;height: 85px;padding: 2px;border: 1px solid #dedede;background-color: #f4f5f0}
#phase .item{overflow: hidden;padding: 20px 0 20px 30px;height: 94px;}
#phase .item ul{float: left;width: 252px;overflow: hidden;}
#phase .item li{line-height:28px; font-family: simsun;width: 242px;}
#phase .item .gre{color: #4BA923;}
/*share*/
#share{padding-top: 28px;position: relative;}
#share .title{height: 28px;padding-left: 5px;color: #4BA923;font-size: 20px;font-weight: normal;position: absolute;top: 0;left: 0;line-height: 28px;}
#share .smt{position: absolute;top: 5px;width: 18px;height: 18px;border-radius: 15px;text-align: center;cursor: pointer;}
#share .fore1 .smt{right: 110px;}
#share .fore2 .smt{right: 87px;}
#share .fore3 .smt{right: 64px;}
#share .fore4 .smt{right: 41px;}
#share .fore5 .smt{right: 18px;}
#share .curr .smt{background-color: #59b432;color: #fff}
#share .smc{display: none;border: 1px solid #ebebeb;border-top: 2px solid #4ba923;padding: 20px 30px;}
#share .curr .smc{display: block;}
#share dl{float: left;width: 400px;margin-right: 20px;}
#share dt{font-size: 14px;margin-bottom: 10px;}
#share dd{color: #999}
#share .p-img{float: left;}
/*guide*/
#guide{border: 2px solid #4ba923}
#guide .mt{background: #4ba923;padding-left: 18px;height: 31px;line-height:31px}
#guide .mt h2{font-family: "microsoft yahei";color: #fff;font-size: 14px;}
#guide .mc{background: #fefffd}
#guide  li{height: 55px;line-height: 55px;padding-left: 25px;border-top: 1px solid #dcead7;color: #439e1b;}
#guide  li.fore1{border-top: none;}
#guide  li a{font-size: 14px;color: #439e1b;line-height: 55px;width: 120px;margin-right: 5px}
#guide  li s{display: inline-block;background-image: url(i/icon0417.png);width: 42px;height: 42px;margin-right: 15px;float: left;margin-top: 10px;}
#guide  .fore1 s{background-position: -354px -70px;}
#guide  .fore2 s{background-position: -354px -124px;}
#guide  .fore3 s{background-position: -354px -174px;}
#guide  .fore4 s{background-position: -354px -224px;}
#guide  .fore5 s{background-position: -354px -274px;}
#guide  .fore6 s{background-position: -354px -329px;}
/*plate*/
.plate .mt{padding-left: 5px;height: 28px;line-height: 28px;}
.plate .mt h2{color: #4ba923;font-size: 20px;font-weight: normal;}
.plate .mc{border: 1px solid #ebebeb;padding: 10px 15px;}
.plate li{line-height: 18px;font-family: simsun;padding-top: 4px;padding-left: 15px;position: relative;*zoom:1;}
.plate li .gre{color: #4BA923;position: absolute;left: 0;_top:-2px;top: 4px;width: 12px;height: 14px;}
/*brank*/
#brand li{padding: 10px 0;text-align: center;}
/*cars*/
#car{border: 2px solid #4ba923;height: 241px;overflow: visible;}
#car .mt{height: 36px;line-height: 36px;padding-left: 5px;background: #4ba923}
#car .mt{color: #fff;}
#car .mt span{font-size: 12px;padding-left: 5px;}
#car .mt s{display: inline-block;width: 26px;height: 23px;background: url(i/icon0417.png) 0 -275px;position: relative;top: 5px;}
#car .mc{background-color: #f6fef0;padding: 15px 0;overflow: visible;height: 174px;}
#car .item{padding-bottom: 13px;width: 286px;float: left;}
#car .tit{float: left;width: 110px;text-align: right;color: #666;line-height: 25px;}
#car .fr{width: 171px;position: relative;}
#car .fr .tips{color: #f80;padding-top: 2px;}
#car .text{border-color: #AAAAAA #DDDDDD #DDDDDD #AAAAAA; border-style: solid; border-width: 1px; height: 19px;line-height: 19px; padding: 2px 0 2px 5px; }
#car .item select{height: 25px;line-height: 25px;width: 156px;}
#car .btn-price{display: inline-block;width: 89px;height: 30px;line-height: 30px;text-align: center;background: url(i/icon0417.png) 0 0;color: #fff;text-decoration: none}
#car .layout,#car .ac_results{left: 0px;top: 24px;}
#car .assit,#car .current{z-index: 2}
/*step*/
#step{height: 54px;line-height: 54px;width: 990px;background: #edf3eb}
#step .tit{float: left;padding-left: 25px;color: #4ba923;font-size: 18px;font-family: "microsoft yahei"}
#step li{padding: 0 52px 0 20px;position: relative;text-align: center;float: left;font-size: 18px;font-family: "microsoft yahei"}
#step li span{color: #4ba923;font-size: 24px;}
#step li s{width: 41px;height: 54px;display: inline-block;background: url(i/icon0417.png) 0 -308px;position: absolute;
right: 0;top: 0}
/*intro*/
#intro .mt{height: 28px;padding-left: 5px;}
#intro .mt h2{color: #4BA923;font-size: 20px;font-weight: normal;}
#intro .mc{border-top: 2px solid #4BA923;border: 1px solid #EBEBEB;background: url(i/bg.jpg) center center no-repeat;height: 465px;position: relative;}
#intro li{font-size: 14px;position: absolute;}
#intro li a{color: #4BA923}
#intro .fore2{top: 113px;left: 160px;}
#intro .fore3{top: 60px;left: 295px;}
#intro .fore4{top: 40px;left: 443px;}
#intro .fore5{top: 68px;left: 536px;}
#intro .fore6{top: 288px;left: 625px;}
#intro .fore7{top: 341px;left: 486px;}
#intro .fore8{top: 400px;left: 409px;}
#intro .fore9{top: 408px;left: 260px;}
#intro .fore10{top: 399px;left: 116px;}
#intro .fore1{top: 192px;left: 66px;}
/*customer*/
#customer .item{padding: 5px 0;border-top: 1px solid #EBEBEB}
#customer .fore{padding-top: 0px;border-top:none}
#customer .p-name{font-size: 14px;height: 30px;line-height: 30px;}
#customer .contact{padding-left: 15px;width: 76px;height: 25px;line-height: 25px;text-align: center;text-decoration: none;background: url(i/icon0417.png) -131px -45px;display: inline-block;margin-left: 5px;font-size: 12px}
#customer .disabled .contact{background-position: 0 -533px;cursor: default;color: #999}
#customer .p-tel{color: #999;height: 28px;line-height: 28px;}
#customer .p-help a{color: #005ea7;}
/*sift*/
#sift,#list{border:1px solid #ebebeb;border-top: 2px solid #4ba923}
#sift .title,#list .mt{height: 44px;line-height: 44px;background: url(i/icon0417.png) 0 -392px;padding-left: 25px;}
#sift .title a{border: 1px solid #4ba923;padding: 3px 4px;font-weight: bold;color: #4ba923;text-decoration: none}
#sift .title a s{display: inline-block;width: 12px;height: 12px;background: url(i/icon0417.png) -230px -50px;position: relative;top: 2px;}
#sift .title a span{font-weight: normal;color: #666}
#sift .o-item {padding: 0 6px;}
#sift .item{overflow: hidden;height: 35px;line-height: 35px;border-top: 1px dotted #EBEBEB}
#sift .item.fore{border-top: none}
#sift .tit{float: left;width: 75px;text-align: right;}
#sift .fr{width: 681px;}
#sift li{float: left;padding: 0 4px;}
#sift li a{color: #005ea7}
/*#list .sift{float: left: }*/
#list .mt{padding-right: 15px;}
#list .sift{float: left;}
#list .sift a{width: 46px;height: 26px;text-align: center;line-height: 26px;background: url(i/icon0417.png) -350px -35px;display: inline-block;text-decoration: none;margin-right: 5px}
#list .sift .curr,#list .sift .down{width: 61px;background: url(i/icon0417.png) -250px -50px;color: #fff;font-weight: bold;}
#list .sift .curr s{display: inline-block;width: 10px;height: 12px;background: url(i/icon0417.png) -311px -35px;}
#list .sift .down s{display: inline-block;width: 10px;height: 12px;background: url(i/icon0417.png) -321px -35px;}
#list .extra{float: right;}
#list .extra .gre{color: #4ba923}
#list .extra .org{color: #f80}
#list .mc{padding: 10px 5px;}
#list .noresult{height:100px;line-height:100px;text-align:center;font-size:18px;color:#f60;font-family:"microsoft yahei"}
#list .noresult s{width:54px;height:47px;background:url(i/icon0417.png) -65px -308px;display:inline-block;margin-right:5px;position:relative;top:10px;}

#list .item{
			overflow: hidden;
			border-bottom: 4px solid #dddddd;
			width: 758px;
			height: auto;
			zoom: 1
			}

#list .p-name,#list .p-limit,#list .p-info,#list .p-spec,#recomm .p-name,#recomm .p-limit,#recomm .p-info,#recomm .p-spec{width: 526px;float: left;border-bottom: 1px dotted #ebebeb;padding-left: 10px;}
#list .p-name,#recomm .p-name{height: 30px;line-height: 30px;font-size: 14px;}
#list .p-name a,#recomm .p-name a{font-weight: bold;color: #4ba923}
#list .p-limit,#recomm .p-limit{height: 28px;line-height: 28px;}
#list .p-limit strong,#recomm .p-limit strong{color: #666}
#list .p-limit span,#recomm .p-limit span{margin-right: 10px; }
#list .p-info ul,#recomm .p-info ul{padding-top: 10px;}
#list .p-info li,#recomm .p-info li{margin-bottom: 10px;}
#list .p-spec,#recomm .p-spec{line-height: 24px;border-bottom: none;height: auto;zoom: 1}
#list .org,#recomm .org{color: #f80}
#list .p-price,#recomm .p-price{width: 212px;float: right;height: 104px;background: #f8f8f8;margin-top: 29px;padding-top: 20px;text-align: center;}
#list .p-price span,#recomm .p-price span{display: block;color: #c00;margin-bottom: 15px}
#list .p-price strong,#recomm .p-price strong{font-size: 21px;}
#list .p-price .btn-detail,#recomm .p-price .btn-detail{width: 89px;height: 30px;line-height: 30px;text-align: center;background: url(i/icon0417.png) 0 0;color: #fff;font-weight: bold;display: inline-block;}
#list .pagin{margin-top: 10px;}
/*recomm*/
#recomm{border: 1px solid #ebebeb;padding: 10px 5px;}
#recomm .p-info{border: none}
#recomm .p-info li{margin-bottom: 5px;}
#recomm .p-price{height: 90px}
#recomm .rec{width: 66px;height: 18px;line-height: 18px;font-size: 12px;color: #fff;text-align: center;background: url(i/icon0417.png) -240px 0;display: inline-block;margin-left: 5px}
/*detail*/
#detail .p-img{border: 1px solid #ebebeb;float: left;width: 310px;height: 310px;margin-top: 33px;padding: 0}
#detail .p-img div{display: table-cell;width: 308px;height: 308px;padding: 0;text-align: center;vertical-align: middle;}
#detail .p-detail{float: right;width: 660px;}
#detail .p-name{height: 33px;border-bottom: 1px dashed #ebebeb;line-height: 33px;}
#detail .info{padding: 10px 0 0 10px;}
#detail li{overflow: visible;margin-bottom: 10px;height: 27px;}
#detail .tit{float: left;min-width: 85px;text-align: left;line-height: 25px;}
#detail .fr{width: auto;float: left;}
#detail .text{border-width:1px;border-style:solid;border-color:#aaa #ddd #ddd #aaa;height:23px;padding-left:5px;width: 180px;line-height: 23px;}
#detail .p-price{background: #f6faf4;height: 70px;padding: 25px 15px;text-align: left;}
#detail .p-price span{display: block;color: #c00;margin-bottom: 10px;}
#detail .p-price strong{font-size: 24px;}
#detail .p-price .btn-book{width: 133px;height: 36px;text-align: center;line-height: 36px;background: url(i/icon0417.png) -100px 0;color: #fff;font-family: "microsoft yahei";font-weight: bold;display: inline-block;font-size: 21px;text-decoration: none;margin-right: 10px;}
#detail .p-price .disabled{background-position: 0 -487px;color: #999;cursor: default;}
#detail .contact{background: url("i/icon0417.png") repeat scroll -131px -45px transparent; display: inline-block; font-size: 12px; height: 25px; line-height: 25px; margin-left: 5px; padding-left: 15px; text-align: center; text-decoration: none; width: 76px;}
#detail .long{background: url("i/icon0417.png") 0 -45px;width: 105px;}
#detail .disabled .contact{background-position: 0 -533px;cursor: default;color: #999}
#detail .disabled .long{background-position: -100px -533px;cursor: default;}
/*tabs*/
.tabs{padding-top: 32px;position: relative;}
.tabs .smt{position: absolute;padding-top: 1px;height: 31px;line-height: 31px;text-align: center;top: 0;border-top: 1px solid #ebebeb;border-left: 1px solid #ebebeb;padding: 0 20px;cursor: pointer;}
.tabs .fore1 .smt{left: 0}
.tabs .fore2 .smt{left: 90px}
.tabs .fore3 .smt{left: 179px}
.tabs .fore4 .smt{left: 268px;border-right: 1px solid #ebebeb}
.tabs .curr .smt{padding-top: 0;border:1px solid #479c1b;border-bottom: none;border-top-width: 2px;height: 31px;background: #fff;z-index: 3}
.tabs .smc{border: 1px solid #dddddd;border-top: 1px solid #479c1b;display: none;overflow: hidden;width: 728px;overflow: visible;}
.tabs .curr .smc{display: block;padding: 10px 20px;}
.tabs .smc p{margin-bottom: 8px;color: #333}
.tabs .fore1 .smc{padding: 10px;text-align: center;width: 748px;}
.tabs .smc img{max-width: 750px;}
/*insure*/
#insure{overflow: visible;}
#insure table{border: 1px solid #ebebeb;border-collapse: collapse;text-align: center;margin-bottom: 5px}
#insure th{background: #f6faf4;color: #666;height: 31px;line-height: 31px;}
#insure td{line-height: 30px;border: 1px solid #ebebeb;padding-left: 5px}
#insure .ques,#detail .ques{width: 20px;height: 20px;position: relative;display: inline-block;float: left;}
#insure .ques s,#detail .ques s{display: inline-block;width: 20px;height: 20px;background: url(i/icon0417.png) -320px -48px;}
#insure .i-ques,#detail .i-ques{position: absolute;background-color: #FFFDEE;border: 1px solid #EDD28B;width: 220px;padding: 10px;top: 30px;left: -10px;z-index: 3;display: none} 
#insure .hover .i-ques,#detail .hover .i-ques{display: block}
#insure .i-ques em,#detail .i-ques em{position: absolute;left: 22px;font-size: 0;line-height: 0;overflow :hidden;border: 10px dashed transparent;border-bottom-style: solid;left: 10px;}
#insure .i-ques .s1,#detail .i-ques .s1{z-index: 1;border-bottom-color: #edd28b;top: -20px;}
#insure .i-ques .s2,#detail .i-ques .s2{z-index: 2;border-bottom-color: #fffdee;top: -19px;}
#insure .al{padding-left: 15px;}
#insure select,#detail select,#detail .text{float: left;margin-right: 10px;}
/*company*/
#company .c-img{text-align: center;padding: 10px 0}
#company .c-info{padding-bottom: 10px;}
#company .extra{text-align: right;}
#company .extra a{color: #005ea7}
/*cal*/
.datepicker { border-collapse: collapse;padding:10px;z-index:10;border:1px solid #E5E5E5;background:#fff;display: none;position: absolute;}
.datepicker .controls th{height:26px;line-height:26px;background:#0560b1;color:#fff;font-size:12px;border:1px solid #0560b;}
.datepicker .days th { height:26px; font-size: 12px;background:#ececec;color:#333;margin: 0;padding: 0}
.datepicker .days .org{color:#ff6501}
.datepicker .days .sun{border-left:1px solid #E5E5E5}
.datepicker .days .sat{border-right:1px solid #E5E5E5}
.datepicker select {font-size: 11px; }
.datepicker tfoot td {height: 18px;text-align: center; text-transform: capitalize; }
.datepicker tfoot td {background: #eee; font: 10px/18px Verdana, Arial, Helvetica, sans-serif;}
.datepicker th span, .datepicker tfoot td span {font-weight:bold;}
.datepicker tbody td {width:25px;height:24px;border:1px solid #e5e5e5;font:14px/24px Arial, Helvetica, sans-serif;text-align: center;background: #fff;color:#0964b4;font-weight:bold;margin: 0;padding: 0}
.datepicker tbody td.date {cursor: pointer; }
.datepicker tbody td.date.over {background-color:#dbf3ff;color:#fff}
.datepicker tbody td.date.chosen { background-color: #ff6501;color:#fff }
.datepicker .prevMonth{display: inline-block;width:23px;height:26px;float:left;background:#3c9fd7;float:left;position:relative;_float: none}
.datepicker .prevMonth s{position:absolute;top:4px;left:-3px;font-size:0;line-height:0;overflow:hidden;border:10px dashed transparent;border-right-style: solid;border-right-color:#fff;}
.datepicker .nextMonth{display: inline-block;width:23px;height:26px;float:left;background:#3c9fd7;float:right;position:relative;_float: none}
.datepicker .nextMonth s{position:absolute;top:4px;left:10px;font-size:0;line-height:0;overflow:hidden;border:10px dashed transparent;border-left-style: solid;border-left-color:#fff;}
.datepicker .disabled .prevMonth1{border-right-color:#999}
.datepicker .disabled .nextMonth1{border-left-color:#999}
/**/
.datepicker .today{display: none}
/*forIe6*/
*html #sift .title{height: 34px;padding-top: 10px;}
*html #list .mt{height: 39px;padding-top: 5px;}
*html  #list .sift .curr{position: relative;}
*html  #list .sift .curr s{position: absolute;}

/*2013-base*/
#logo-2013 a:link b, #logo-2013 a:visited b {background: url("i/base.png") no-repeat scroll 10px -307px #fff;left: 190px;top: 13px;} 
#logo-2013 a:hover b,#logo-2013 a:active b{background:url(http://misc.360buyimg.com/lib/skin/2013/i/20130510A.png) #fff no-repeat 8px 0;}
/*settle*/
#settleup-2013{display: none}
#my360buy-2013{float: right;}
#my360buy-2013 .prompt .btn-login{background-color: #358314}
/*search-2013*/
#search-2013 .i-search{border-color: #358314}
#search-2013 .button{background-color: #358314}
#search-2013 #shelper{border-color: #358314}
/*nav*/
#nav-2013{background-color: #1f4f09}
#navitems-2013{background:-moz-linear-gradient(top,#45921e,#348214);
background:-webkit-gradient(linear,0 0,0 100%,from(#45921e),to(#348214)); 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#45921e", endColorstr="#348214"); /* IE6,IE7 */
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr="#45921e", endColorstr="#348214")"; /* IE8 */}
#navitems-2013 .curr a, #navitems-2013 .hover a{background-color: #1f4f09}
/*categorys*/
#categorys-2013 .mt{background-color: #307a10}
#categorys-2013 .mc{border-color: #307a10}
#categorys-2013 h3 a:hover, #categorys-2013 h3 a:active,#categorys-2013 .subitem dt a,#categorys-2013 .item dt{color: #358314}
#categorys-2013 .mt b{background: url(i/arrow.png) 0 0;}
#categorys-2013.hover .mt b{background: url(i/arrow.png) 0 -20px;}
/*#categorys-2013 h3{background: url(i/arrow.png) 8px -47px no-repeat;}*/
/*logo*/
#logo-2013 a:link b, #logo-2013 a:visited b{width: 100px;height: 38px;left: 168px;top: 12px}

#select_form .mc .item .fr label{
	display: inline-block;
	width:60px;
}